<div>
	<table>
		<thead>
			<tr>
				<td>Booking Id</td>
				<td>Group Name</td>
				<td>Trip Name</td>
				<td>Total Memebers</td>
				<td>Total Cost</td>
				<td>Trip Cost</td>
				<td>Advance Paid</td>
				<td>Due Amount</td>
				<td>Status</td>
				<td>Actions</td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let booking of bookings; let i = index;">
				<td [routerLink]="['booking-details', booking.bookingId]">{{ booking.bookingId }}</td>
				<td [routerLink]="['booking-details', booking.bookingId]">{{ booking.groupName }}</td>
				<td [routerLink]="['booking-details', booking.bookingId]">{{ booking.trips?.name }}</td>
				<td [routerLink]="['booking-details', booking.bookingId]">{{ booking.travellerCount }}</td>
				<td [routerLink]="['booking-details', booking.bookingId]">{{ booking.totalCost }}</td>
				<td [routerLink]="['booking-details', booking.bookingId]">{{ booking.tripCost }}</td>
				<td [routerLink]="['booking-details', booking.bookingId]">{{ booking.advancePaid }}</td>
				<td [routerLink]="['booking-details', booking.bookingId]">{{ booking.dueAmount }}</td>
				<td>{{ booking.status==true?'active':'inactive'}}</td>
				<td>
					<a (click)="openAddBookingModal(booking)">Edit</a>
					<a (click)="deleteBooking(booking._id, i)">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div>
	<a class="btn-floating btn-large waves-effect waves-light red" (click)="openAddBookingModal()">
		<i class="material-icons">add</i>
	</a>
</div>