<div class="booking-detail-page">
	<div class="row title-holder">
		<div class="col s12">
			<h3 class="main-title">Booking Details</h3>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<h3 class="card-title">Booking Details</h3>
					<div *ngIf="auths.idx && auths.idx ==='20'">
						<a class="btn-floating waves-effect waves-light" *ngIf="authService.validatedUser" (click)="openBookingModal()">
							<i class="material-icons">edit</i>
						</a>
					</div>
				</div>
				<div class="card-action">
					<div class="row">
						<div class="col s12">
							<strong class="label">Group Name</strong>
							<span class="data">{{booking?.groupName}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col s12 m6">
							<strong class="label">Trip Name</strong>
							<span class="data">{{booking?.tripName}}</span>
						</div>
						<div class="col s12 m6">
							<strong class="label">Total Members</strong>
							<span>{{booking?.travellerCount}}</span>
						</div>
					</div>
					<div class="row" *ngIf="auths.idx && auths.idx ==='20'">
						<div class="col s12 m6">
							<strong class="label">Trip Cost</strong>
							<span class="data">{{booking?.tripCost | currency:'USD':true}}</span>
						</div>
						<div class="col s12 m6">
							<strong class="label">Total Cost</strong>
							<span class="data">{{booking?.totalCost | currency:'USD':true}}</span>
						</div>
					</div>
					<div class="row" *ngIf="auths.idx && auths.idx ==='20'">
						<div class="col s12 m6">
							<strong class="label">Advance Paid</strong>
							<span class="data">{{booking?.advancePaid | currency:'USD':true}}</span>
						</div>
						<div class="col s12 m6">
							<strong class="label">Due Amount</strong>
							<span class="data">{{booking?.dueAmount | currency:'USD':true}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<h3 class="card-title">Trip Departure and Arrival Dates</h3>
					<div *ngIf="trip && auths.idx && auths.idx ==='20'">
						<a class="btn-floating waves-effect waves-light" *ngIf="authService.validatedUser" (click)="openTripDatesModal(trip)">
							<i class="material-icons">edit</i>
						</a>
					</div>
				</div>
				<div class="card-action">
					<div *ngIf="trip">
						<div class="row">
							<div class="col s12 m6">
								<strong class="label">Departure Date</strong>
								<span class="data">{{trip?.departureDate?.formatted}}</span>
							</div>
							<div class="col s12 m6">
								<strong class="label">Departure Time</strong>
									<span class="data">
										{{trip?.departureTime?.hrTime+':'+trip?.departureTime?.minTime}}
									</span>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m6">
								<strong class="label">Arrival Date</strong>
								<span class="data">{{trip?.arrivalDate?.formatted}}</span>
							</div>
							<div class="col s12 m6">
								<strong class="label">Arrival Time</strong>
									<span class="data">
										{{trip?.arrivalTime?.hrTime+':'+trip?.arrivalTime?.minTime}}
									</span>
							</div>
						</div>
					</div>
					<div [hidden]="trip" class="row">
						<div class="col s6">
							<p>Trip Departure and Arrival Details are not added yet. Please add them.</p>
						</div>
						<div class="col s6 m6 right-align" *ngIf="auths.idx && auths.idx ==='20'">
							<a class="btn-floating waves-effect waves-light" (click)="openTripDatesModal()"><i class="material-icons">add</i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="auths.idx && auths.idx ==='20'">
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<h3 class="card-title">Guide Details</h3>
					
				</div>
				<div class="card-action">
					<div *ngIf="guides && guides.length>0;else emptyGuideList;">
						<div class="row">
							<div class="input-field col s12 m8">
								<select class="browser-default" [(ngModel)]="selectedGuide">
									<option [value]="i" *ngFor="let guide of guides;let i=index;">
										<span *ngIf="guide && guide.firstName && guide.lastName && guide.email">
											{{guide.firstName+' '+guide.lastName+' ('+ guide.email+')'}}
										</span>
										<span *ngIf="!guide.firstName">Select Guide</span>
									</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<a class="waves-effect waves-light btn" (click)="selectGuide()">Submit</a>
							</div>
						</div>
						<div *ngIf="booking&&booking.selectedGuide">
							<div class="row">
								<div class="col s12 m6">
									<strong class="label">Guid Name</strong>
									<span class="data">
										{{bookingGuide?.firstName+' '+bookingGuide?.lastName}}
									</span>
								</div>
								<div class="col s12 m6">
									<strong class="label">Email</strong>
									<span class="data">
										{{bookingGuide?.email}}
									</span>
								</div>
							</div>
							<div class="row">
								<div class="col s12 m6">
									<strong class="label">Contact Number</strong>
									<span class="data">
										{{bookingGuide?.phone}}
									</span>
								</div>
								<div class="col s12 m6">
									<strong class="label">Address</strong>
									<span class="data">
										{{bookingGuide?.address}}
									</span>
								</div>
							</div>
						</div>
						<div [hidden]="booking&&booking.selectedGuide" class="row">
							<div class="col s12">
								<p>Please select guide from above selector!</p>
							</div>
						</div>
					</div>
					<ng-template #emptyGuideList>
						There are no guide records to select. Please add guide records. <a [routerLink]="['/app/movements/guide-details']">Add</a>
					</ng-template>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<h3 class="card-title">Flight Details</h3>
					<div *ngIf="flight && flight.bookingId && auths.idx && auths.idx ==='20'">
						<a class="btn-floating waves-effect waves-light" *ngIf="authService.validatedUser" (click)="openFlightModal(flight)">
							<i class="material-icons">edit</i>
						</a>
					</div>
				</div>
				<div class="card-action">
					<div *ngIf="flight && flight.bookingId">
						<div class="row">
							<div class="col s12 m6">
								<strong class="label">Departure Flight</strong>
								<span class="data">
									{{flight?.departure?.name}}
								</span>
							</div>
							<div class="col s12 m6">
								<strong class="label">Departure Cost</strong>
								<span class="data">
									{{flight?.departure?.cost}}
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m6">
								<strong class="label">Departure Date</strong>
								<span class="data">
									{{flight?.departure?.date?.formatted}}
								</span>
							</div>
							<div class="col s12 m6">
								<strong class="label">Departure Time</strong>
								<span class="data">
									{{flight?.departure?.hrTime+':'+flight?.departure?.minTime}}
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m6">
								<strong class="label">Arrival Flight</strong>
								<span class="data">
									{{flight?.arrival?.name}}
								</span>
							</div>
							<div class="col s12 m6">
								<strong class="label">Arrival Cost</strong>
								<span class="data">
									{{flight?.arrival?.cost}}
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m6">
								<strong class="label">Arrival Date</strong>
								<span class="data">
									{{flight?.arrival?.date?.formatted}}
								</span>
							</div>
							<div class="col s12 m6">
								<strong class="label">Arrival Time</strong>
								<span class="data">
									{{flight?.arrival?.hrTime+':'+flight?.arrival?.minTime}}
								</span>
							</div>
						</div>
					</div>
					<div [hidden]="flight && flight.bookingId" class="row">
						<div class="col s6">
							<p>Flight Details not added yet. Please add Flight Details!</p>
						</div>
						<div class="col s6 m6 right-align" *ngIf="auths.idx && auths.idx ==='20'">
							<a class="btn-floating waves-effect waves-light" (click)="openFlightModal()"><i class="material-icons">add</i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<h3 class="card-title">Traveler List</h3>
					<div class="right" *ngIf="auths.idx && auths.idx ==='20'">
						<a class="btn-floating waves-effect waves-light" routerLink="/app/movements/traveler-info/booking/{{bookingId}}">
							<i class="material-icons">add</i>
						</a>
					</div>
				</div>
				<div class="card-action">
					<div class="row" *ngIf="auths.idx && auths.idx ==='20'">
						<div class="input-field col s12 m8">
							<select class="browser-default" [(ngModel)]="selectedTraveler">
								<option [value]="i" *ngFor="let traveler of travelers;let i=index;">
									<span *ngIf="traveler && traveler.firstName && traveler.lastName && traveler.email">
										{{traveler.firstName+' '+traveler.lastName+' ('+ traveler.email+')'}}
									</span>
									<span *ngIf="!traveler.firstName">Select Traveler</span>
								</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<a class="waves-effect waves-light btn" (click)="selectTraveler()">Add</a>
						</div>
					</div>
					
					<div class="row">
						<div class="col s12">
							<ul class="traveller-list" *ngIf="selectedTravelerArr && selectedTravelerArr.length>0">
								<li *ngFor="let traveler of selectedTravelerArr; let indx=index;">
									<div class="img-holder">
										<img src="{{traveler.attachments?.profile}}" class="responsive-img circle" alt="">
									</div>
									<div class="text-holder">
										<span class="name">{{traveler.firstName+' '+traveler.lastName}}</span>
										<button md-icon-button [mdMenuTriggerFor]="menu" *ngIf="auths.idx && auths.idx ==='20'">
											<md-icon>more_vert</md-icon>
										</button>
										<md-menu #menu="mdMenu" position-x='100'>
											<button md-menu-item (click)="openTravelerModal(traveler, 'view')">
												<md-icon>visibility</md-icon>
												<span>View</span>
											</button>
											<button md-menu-item routerLink="/app/movements/traveler-info/booking/{{booking.bookingId}}/traveler/{{traveler._id}}/redirect/booking-details">
												<md-icon>create</md-icon>
												<span>Edit</span>
											</button>
											<button md-menu-item (click)="removeTraveler(traveler._id, indx)">
												<md-icon>remove</md-icon>
												<span>Remove</span>
											</button>
										</md-menu>
										<p>{{traveler.nationality}} <br>
											{{traveler.email}}
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>