<div class="booking-detail-page">
	<div class="row title-holder">
		<div class="col s12">
			<h3 class="main-title">Booking Details</h3>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<h3 class="card-title">Booking Details</h3>
					<div *ngIf="auths.idx && auths.idx ==='20'">
						<a class="btn-floating waves-effect waves-light" *ngIf="authService.validatedUser" (click)="openBookingModal()">
							<i class="material-icons">edit</i>
						</a>
					</div>
				</div>
				<div class="card-action">
					<div class="row">
						<div class="col s12">
							<strong class="label">Group Name</strong>
							<span class="data">{{booking?.groupName}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col s12 m6">
							<strong class="label">Trip Name</strong>
							<span class="data">{{booking?.tripName}}</span>
						</div>
						<div class="col s12 m6">
							<strong class="label">Total Members</strong>
							<span>{{booking?.travellerCount}}</span>
						</div>
					</div>
					<div class="row" *ngIf="auths.idx && auths.idx ==='20'">
						<div class="col s12 m6">
							<strong class="label">Trip Cost</strong>
							<span class="data">{{booking?.tripCost | currency:'USD'}}</span>
						</div>
						<div class="col s12 m6">
							<strong class="label">Total Cost</strong>
							<span class="data">{{booking?.totalCost | currency:'USD'}}</span>
						</div>
					</div>
					<div class="row" *ngIf="auths.idx && auths.idx ==='20'">
						<div class="col s12 m6">
							<strong class="label">Advance Paid</strong>
							<span class="data">{{booking?.advancePaid | currency:'USD'}}</span>
						</div>
						<div class="col s12 m6">
							<strong class="label">Due Amount</strong>
							<span class="data">{{booking?.dueAmount | currency:'USD'}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<h3 class="card-title">Trip Departure and Arrival Dates</h3>
					<div *ngIf="trip && auths.idx && auths.idx ==='20'">
						<a class="btn-floating waves-effect waves-light" *ngIf="authService.validatedUser" (click)="openTripDatesModal(trip)">
							<i class="material-icons">edit</i>
						</a>
					</div>
				</div>
				<div class="card-action">
					<div *ngIf="trip">
						<div class="row">
							<div class="col s12 m6">
								<strong class="label">Departure Date</strong>
								<span class="data">{{trip?.departureDate?.formatted}}</span>
							</div>
							<div class="col s12 m6">
								<strong class="label">Departure Time</strong>
									<span class="data">
										{{trip?.departureTime?.hrTime+':'+trip?.departureTime?.minTime}}
									</span>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m6">
								<strong class="label">Arrival Date</strong>
								<span class="data">{{trip?.arrivalDate?.formatted}}</span>
							</div>
							<div class="col s12 m6">
								<strong class="label">Arrival Time</strong>
									<span class="data">
										{{trip?.arrivalTime?.hrTime+':'+trip?.arrivalTime?.minTime}}
									</span>
							</div>
						</div>
					</div>
					<div [hidden]="trip" class="row">
						<div class="col s6">
							<p>Trip Departure and Arrival Details are not added yet. Please add them.</p>
						</div>
						<div class="col s6 m6 right-align" *ngIf="auths.idx && auths.idx ==='20'">
							<a class="btn-floating waves-effect waves-light" (click)="openTripDatesModal()"><i class="material-icons">add</i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="auths.idx && auths.idx ==='20'">
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<h3 class="card-title">Guide Details</h3>
					
				</div>
				<div class="card-action">
					<div *ngIf="guides && guides.length>0;else emptyGuideList;">
						<div class="row">
							<div class="input-field col s12 m8">
								<select class="browser-default" [(ngModel)]="selectedGuide">
									<option [value]="i" *ngFor="let guide of guides;let i=index;">
										<span *ngIf="guide && guide.firstName && guide.lastName && guide.email">
											{{guide.firstName+' '+guide.lastName+' ('+ guide.email+')'}}
										</span>
										<span *ngIf="!guide.firstName">Select Guide</span>
									</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<a class="waves-effect waves-light btn" (click)="selectGuide()">Submit</a>
							</div>
						</div>
						<div *ngIf="booking&&booking.selectedGuide">
							<div class="row">
								<div class="col s12 m6">
									<strong class="label">Guid Name</strong>
									<span class="data">
										{{bookingGuide?.firstName+' '+bookingGuide?.lastName}}
									</span>
								</div>
								<div class="col s12 m6">
									<strong class="label">Email</strong>
									<span class="data">
										{{bookingGuide?.email}}
									</span>
								</div>
							</div>
							<div class="row">
								<div class="col s12 m6">
									<strong class="label">Contact Number</strong>
									<span class="data">
										{{bookingGuide?.phone}}
									</span>
								</div>
								<div class="col s12 m6">
									<strong class="label">Address</strong>
									<span class="data">
										{{bookingGuide?.address}}
									</span>
								</div>
							</div>
						</div>
						<div [hidden]="booking&&booking.selectedGuide" class="row">
							<div class="col s12">
								<p>Please select guide from above selector!</p>
							</div>
						</div>
					</div>
					<ng-template #emptyGuideList>
						There are no guide records to select. Please add guide records. <a [routerLink]="['/app/movements/guide-details']">Add</a>
					</ng-template>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<h3 class="card-title">Domestic Flight Details</h3>
					<div *ngIf="flight && flight.bookingId && auths.idx && auths.idx ==='20'">
						<a class="btn-floating waves-effect waves-light" *ngIf="authService.validatedUser" (click)="openFlightModal(flight)">
							<i class="material-icons">edit</i>
						</a>
					</div>
				</div>
				<div class="card-action">
					<div *ngIf="flight && flight.bookingId">
						<div class="row">
							<div class="col s12 m6">
								<strong class="label">Departure Flight</strong>
								<span class="data">
									{{flight?.departure?.name}}
								</span>
							</div>
							<div class="col s12 m6">
								<strong class="label">Departure Cost</strong>
								<span class="data">
									{{flight?.departure?.cost}}
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m6">
								<strong class="label">Departure Date</strong>
								<span class="data">
									{{flight?.departure?.date?.formatted}}
								</span>
							</div>
							<div class="col s12 m6">
								<strong class="label">Departure Time</strong>
								<span class="data">
									{{flight?.departure?.hrTime+':'+flight?.departure?.minTime}}
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m6">
								<strong class="label">Arrival Flight</strong>
								<span class="data">
									{{flight?.arrival?.name}}
								</span>
							</div>
							<div class="col s12 m6">
								<strong class="label">Arrival Cost</strong>
								<span class="data">
									{{flight?.arrival?.cost}}
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m6">
								<strong class="label">Arrival Date</strong>
								<span class="data">
									{{flight?.arrival?.date?.formatted}}
								</span>
							</div>
							<div class="col s12 m6">
								<strong class="label">Arrival Time</strong>
								<span class="data">
									{{flight?.arrival?.hrTime+':'+flight?.arrival?.minTime}}
								</span>
							</div>
						</div>
					</div>
					<div [hidden]="flight && flight.bookingId" class="row">
						<div class="col s6">
							<p>Flight Details not added yet. Please add Domestic Flight Details!</p>
						</div>
						<div class="col s6 m6 right-align" *ngIf="auths.idx && auths.idx ==='20'">
							<a class="btn-floating waves-effect waves-light" (click)="openFlightModal()"><i class="material-icons">add</i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<h3 class="card-title">Traveler List</h3>
					<div class="right" *ngIf="auths.idx && auths.idx ==='20'">
						<a class="waves-effect waves-light btn"  routerLink="/app/movements/traveler-info/booking/{{bookingId}}">Add New Traveler</a>
					</div>
				</div>
				<div class="card-action">
					<div class="row" *ngIf="auths.idx && auths.idx ==='20'">
						<div class="input-field col s12 m8">
							<select class="browser-default" [(ngModel)]="selectedTraveler">
								<option [value]="i" *ngFor="let traveler of travelers;let i=index;">
									<span *ngIf="traveler && traveler.firstName && traveler.lastName && traveler.email">
										{{traveler.firstName+' '+traveler.lastName+' ('+ traveler.email+')'}}
									</span>
									<span *ngIf="!traveler.firstName">Select Traveler</span>
								</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<a class="waves-effect waves-light btn" (click)="selectTraveler()">Add To List</a>
						</div>
					</div>
					
					<div class="row">
						<div class="col s12">
							<ul class="traveller-list" *ngIf="selectedTravelerArr && selectedTravelerArr.length>0">
								<li *ngFor="let traveler of selectedTravelerArr; let indx=index;">
									<div class="img-holder">
										<img src="{{traveler.attachments?.profile}}" class="responsive-img circle" alt="">
									</div>
									<div class="text-holder">
										<span class="name">{{traveler.firstName+' '+traveler.lastName}}</span>
										<button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="auths.idx && auths.idx ==='20'">
											<mat-icon>more_vert</mat-icon>
										</button>
										<mat-menu #menu="matMenu" position-x='100'>
											<button mat-menu-item (click)="openTravelerModal(traveler, 'view')">
												<mat-icon>visibility</mat-icon>
												<span>View</span>
											</button>
											<button mat-menu-item routerLink="/app/movements/traveler-info/booking/{{booking.bookingId}}/traveler/{{traveler._id}}/redirect/booking-details">
												<mat-icon>create</mat-icon>
												<span>Edit</span>
											</button>
											<button mat-menu-item (click)="removeTraveler(traveler._id, indx)">
												<mat-icon>remove</mat-icon>
												<span>Remove</span>
											</button>
										</mat-menu>
										<p>{{traveler.nationality}} <br>
											{{traveler.email}}
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m12">
			<div class="card">
				<div class="card-content">
					<h3 class="card-title">Trip Cost</h3>
				</div>
				<div class="card-action">
					<div class="detail-subheader col s12">
						<strong>Trip Cost</strong>
					</div>

					<div class="row trip-cost-header">
						<div class="col s2">
							<span>Description</span>
						</div>
						<div class="col s9">
							<span>Amount</span>
						</div>
						<div class="col s1">
							<span>Total</span>
						</div>
					</div>
					<div class="row">
						<div class="col s2">
							<span>Guide Cost</span>
						</div>
						<div class="col s3">
							<label for="tripGuideCount">No of guide</label>
							<input id="tripGuideCount" type="number" class="validate" name="tripGuideCount" [(ngModel)]="booking.tripGuideCount" #tripGuideCount="ngModel">
						</div>
						<div class="col s3">
							<label for="tripGuideDays">No of days</label>
							<input id="tripGuideDays" type="number" class="validate" name="tripGuideDays" [(ngModel)]="booking.tripGuideDays" #tripGuideDays="ngModel">
						</div>
						<div class="col s3">
							<label for="tripGuidePerDayCost">Per day cost</label>
							<input id="tripGuidePerDayCost" type="number" class="validate" name="tripGuidePerDayCost" [(ngModel)]="booking.tripGuidePerDayCost" #tripGuidePerDayCost="ngModel">
						</div>
						<div class="col s1">
							<span>
								{{booking.tripGuideCount * booking.tripGuideDays * booking.tripGuidePerDayCost}}
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col s2">
							<span>Porter Cost</span>
						</div>
						<div class="col s3">
							<label for="tripPoerterNumber">No of porter</label>
							<input id="tripPoerterNumber" type="number" class="validate" name="tripPoerterNumber" [(ngModel)]="booking.tripPoerterNumber" #tripPoerterNumber="ngModel">
						</div>
						<div class="col s3">
							<label for="tripPoerterDays">No of day</label>
							<input id="tripPoerterDays" type="number" class="validate" name="tripPoerterDays" [(ngModel)]="booking.tripPoerterDays" #tripPoerterDays="ngModel">
						</div>
						<div class="col s3">
							<label for="tripPoerterPerDayCost">Per day cost</label>
							<input id="tripPoerterPerDayCost" type="number" class="validate" name="tripPoerterPerDayCost" [(ngModel)]="booking.tripPoerterPerDayCost" #tripPoerterPerDayCost="ngModel">
						</div>
						<div class="col s1">
							<span>
								{{booking.tripPoerterNumber * booking.tripPoerterDays * booking.tripPoerterPerDayCost}}
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col s2">
							<span>Transportation Cost</span>
						</div>
						<div class="col s4">
							<label for="tripTransportationCost">Transportation Cost</label>
							<input id="tripTransportationCost" type="number" class="validate" name="tripTransportationCost" [(ngModel)]="booking.tripTransportationCost" #tripTransportationCost="ngModel">
						</div>
						<div class="col s5">
							<label for="tripTransportationRemarks">Remarks</label>
							<textarea id="tripTransportationRemarks" class="validate materialize-textarea" name="tripTransportationRemarks" [(ngModel)]="booking.tripTransportationRemarks" #tripTransportationRemarks="ngModel" rows="1" style="padding:0px"></textarea>
						</div>
						<div class="col s1">
							<span>
								{{booking.tripTransportationCost}}
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col s2">
							<span>Accomodation Cost</span>
						</div>
						<div class="col s4">
							<label for="tripAccomodationCost">Accomodation Cost</label>
							<input id="tripAccomodationCost" type="number" class="validate" name="tripAccomodationCost" [(ngModel)]="booking.tripAccomodationCost" #tripAccomodationCost="ngModel">
						</div>
						<div class="col s5">
							
						</div>
						<div class="col s1">
							<span>
								{{booking.tripAccomodationCost}}
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col s2">
							<span>Food Cost</span>
						</div>
						<div class="col s4">
							<label for="tripFoodCost">Food Cost</label>
							<input id="tripFoodCost" class="validate" type="number" name="tripFoodCost" [(ngModel)]="booking.tripFoodCost" #tripFoodCost="ngModel">
						</div>
						<div class="col s5">
							
						</div>
						<div class="col s1">
							<span>
								{{booking.tripFoodCost}}
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col s2">
							<span>Pickup/Drop Cost</span>
						</div>
						<div class="col s4">
							<label for="tripPickupCost">Pickup/Drop Cost</label>
							<input id="tripPickupCost" class="validate" type="number" name="tripPickupCost" [(ngModel)]="booking.tripPickupCost" #tripPickupCost="ngModel">
						</div>
						<div class="col s5">
							
						</div>
						<div class="col s1">
							<span>
								{{booking.tripPickupCost}}
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col s2">
							<span>Permit Cost</span>
						</div>
						<div class="col s4">
							<label for="tripPermitCost">Permit Cost</label>
							<input id="tripPermitCost" class="validate" type="number" name="tripPermitCost" [(ngModel)]="booking.tripPermitCost" #tripPermitCost="ngModel">
						</div>
						<div class="col s5">
							
						</div>
						<div class="col s1">
							<span>
								{{booking.tripPermitCost}}
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col s2">
							<span>Flight Cost</span>
						</div>
						<div class="col s4">
							<label for="tripFlightCost">Flight Cost</label>
							<input id="tripFlightCost" class="validate" type="number" name="tripFlightCost" [(ngModel)]="booking.tripFlightCost" #tripFlightCost="ngModel">
						</div>
						<div class="col s5">
							
						</div>
						<div class="col s1">
							<span>
								{{booking.tripFlightCost}}
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col s2">
							<span>City Hotel Cost</span>
						</div>
						<div class="col s4">
							<label for="tripHotelCost">City Hotel Cost</label>
							<input id="tripHotelCost" class="validate" type="number" name="tripHotelCost" [(ngModel)]="booking.tripHotelCost" #tripHotelCost="ngModel">
						</div>
						<div class="col s5">
							<label for="tripHotelRemark">Remarks</label>
							<textarea id="tripHotelRemark" class="validate materialize-textarea" name="tripHotelRemark" [(ngModel)]="booking.tripHotelRemark" #tripHotelRemark="ngModel" rows="1" style="padding:0px"></textarea>
						</div>
						<div class="col s1">
							<span>
								{{booking.tripHotelCost}}
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col s2">
							<span>Remark</span>
						</div>
						<div class="col s5">
							<label for="tripRemark">Remarks</label>
							<textarea id="tripRemark" class="validate materialize-textarea" name="tripRemark" [(ngModel)]="booking.tripRemark" #tripRemark="ngModel" rows="1" style="padding:0px"></textarea>
						</div>
						<div class="col s4"></div>
						<div class="col s1"></div>
					</div>

					<div class="row">
						<div class="col s11">
							<span>Total Cost</span>
						</div>
						<div class="col s1">
							<span>
								{{
									(booking.tripGuideCount * booking.tripGuideDays * booking.tripGuidePerDayCost)+
									(booking.tripPoerterNumber * booking.tripPoerterDays * booking.tripPoerterPerDayCost)+
									(booking.tripTransportationCost)+
									(booking.tripAccomodationCost)+
									(booking.tripFoodCost)+
									(booking.tripPickupCost)+
									(booking.tripPermitCost)+
									(booking.tripFlightCost)+
									(booking.tripHotelCost)
								}}
							</span>
						</div>
					</div>
				</div>
				<div class="card-content">
					<a class="btn primary" (click)="updateBookingDetails()">Submit</a>
				</div>
			</div>
		</div>
	</div>
</div>