<div class="traverler-detail-form">
	<div>
		<h3 class="main-title">
			{{ 'Traverler Detail Form' }}
		</h3>
	</div>
	<div *ngIf="getIframe==true; else travelerForm">
		<div>
			<iframe class="e2e-iframe-trusted-src" height="1000" width="1500" frameborder="0" [src]="travellerDetailUrl"></iframe>
		</div>
	</div>
	<ng-template #travelerForm>
		<div>
			<form class="detail-form col s12" (ngSubmit)="submitTravelerDetails(TravelerDetail.form)" #TravelerDetail="ngForm" novalidate>
				<div class="detail-subheader col s12">
					<strong>Basic Informations</strong>
				</div>

				<div class="row">
					<div class="col s4" [ngClass]="[(firstName?.errors?.required && submittedTravelerForm)?'err-div':'']">
						<label for="first_name" class="active">
							<strong>
								{{'First Name'}}
							</strong>
							<span class="required-label-mark">{{' *'}}</span>
						</label>
						<input id="first_name" type="text" name="firstName" class="validate" [(ngModel)]="traveler.firstName" #firstName="ngModel" required>
						<div class="error-msg" *ngIf="firstName?.errors?.required && submittedTravelerForm">
							This Field is Required!
						</div>
					</div>

					<div class="col s4">
						<label for="middleName" class="active">
							<strong>
								{{'Middle Name'}}
							</strong>
						</label>
						<input id="middleName" type="text" name="middleName" class="validate" [(ngModel)]="traveler.middleName">
					</div>

					<div class="col s4" [ngClass]="[(lastName?.errors?.required && submittedTravelerForm)?'err-div':'']">
						<label for="lastName" class="active">
							<strong>
								{{'Last Name'}}
							</strong>
							<span class="required-label-mark">{{' *'}}</span>
						</label>
						<input id="lastName" type="text" name="lastName" class="validate" [(ngModel)]="traveler.lastName" #lastName="ngModel" required>
						<div class="error-msg" *ngIf="lastName?.errors?.required && submittedTravelerForm">
							This Field is Required!
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col s4" [ngClass]="[(gender?.errors?.required && submittedTravelerForm)?'err-div':'']">
						<div>
							<label for="gender" class="active">
								<strong>
									{{'Gender'}}
								</strong>
								<span class="required-label-mark">{{' *'}}</span>
							</label>
						</div>
						<div>
							<select required class="browser-default" [(ngModel)]="traveler.gender" name="gender" #gender="ngModel" (ngModelChange)="selectTravelerGender(traveler, $event)">
								<option [value]="gender.viewValue" *ngFor="let gender of genders">
									<span>{{gender.viewValue}}</span>
								</option>
							</select>
						</div>
						<div class="error-msg" *ngIf="gender?.errors?.required && submittedTravelerForm">
							This Field is Required!
						</div>
					</div>

					<div class="col s4" [ngClass]="[(nationality?.errors?.required && submittedTravelerForm)?'err-div':'']">
						<div>
							<label for="nationality" class="active">
								<strong>
									{{'Country'}}
								</strong>
								<span class="required-label-mark">{{' *'}}</span>
							</label>
						</div>
						<div>
							<select required class="browser-default" [(ngModel)]="traveler.nationality" name="nationality" #nationality="ngModel" (ngModelChange)="selectTravelerCountry(traveler, $event)">
								<!-- <option value="" selected>Select a Country</option> -->
								<option [value]="country.name" *ngFor="let country of countries">
									<span>{{country.name}}</span>
								</option>
							</select>
						</div>
						<div class="error-msg" *ngIf="nationality?.errors?.required && submittedTravelerForm">
							This Field is Required!
						</div>
					</div>

					<div class="col s4" [ngClass]="[(dob?.errors?.required && submittedTravelerForm)?'err-div':'']">
						<label for="dob" class="active">
							<strong>
								{{'Birth Date'}}
							</strong>
							<span class="required-label-mark">{{' *'}}</span>
						</label>
						<my-date-picker required id="dob" class="validate" name="dob" [(ngModel)]="traveler.dob" #dob="ngModel" [options]="myDatePickerOptions"></my-date-picker>
						<div class="error-msg" *ngIf="dob?.errors?.required && submittedTravelerForm">
							This Field is Required!
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col s4">
						<label for="permanentAddress" class="active">
							<strong>
								{{'Permanent Address'}}
							</strong>
						</label>
						<input id="permanentAddress" type="text" name="permanentAddress" class="validate" [(ngModel)]="traveler.permanentAddress">
					</div>

					<div class="col s4" [ngClass]="[(email?.errors?.required && submittedTravelerForm)?'err-div':'']">
						<label for="email" class="active">
							<strong>
								{{'Email'}}
							</strong>
							<span class="required-label-mark">{{' *'}}</span>
						</label>
						<input 
							id="email" 
							type="text" 
							class="validate" 
							name="email" 
							[(ngModel)]="traveler.email" #email="ngModel" 
							required 
							pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
						<div class="error-msg" *ngIf="email?.errors?.required && submittedTravelerForm">
								This Field is Required!
						</div>
						<div class="error-msg" *ngIf="email?.errors?.pattern && submittedTravelerForm">
							Email is Invalid!
						</div>
					</div>

					<div class="col s4">
						<label for="telephone" class="active">
							<strong>
								{{'Telephone'}}
							</strong>
						</label>
						<input id="telephone" type="text" name="telephone" class="validate" [(ngModel)]="traveler.telephone">
					</div>
				</div>

				<div class="detail-subheader col s12">
					<strong>Attachments</strong>
				</div>

				<div class="row">
					<div class="col s4">
						<label class="active">
							<strong>
								{{'Profile Image'}}
							</strong>
						</label>
						<div class="file-field input-field">
							<div class="file-path-wrapper" *ngIf="traveler.attachments && traveler.attachments.profile">
								<a *ngIf="traveler.attachments?.profile" (click)="removeAttachment('profile')">X</a>
								<img class="profileAttachment" [src]="traveler.attachments?.profile" height="200" alt="Image preview...">
							</div>
							<div class="btn">
								<span>Browse</span>
								<input type="file" name="profileAttachment" (change)="updateImage($event, 'profile')">
							</div>
						</div>
					</div>
					
					<div class="col s4">
						<label class="active">
							<strong>
								{{'Passport Image'}}
							</strong>
						</label>
						<div class="file-path-wrapper" *ngIf="traveler.attachments && traveler.attachments.passport">
							<a *ngIf="traveler.attachments?.passport" (click)="removeAttachment('passport')">X</a>
							<img class="passportAttachment" [src]="traveler.attachments?.passport" height="200" alt="Image preview...">
						</div>
						<div class="file-field input-field">
							<div class="btn">
								<span>Browse</span>
								<input type="file" name="passportAttachment" (change)="updateImage($event, 'passport')">
							</div>
						</div>
					</div>

					<div class="col s4">
						<label class="active">
							<strong>
								{{'Insurance Image'}}
							</strong>
						</label>
						<div class="file-field input-field">
							<div class="file-path-wrapper" *ngIf="traveler.attachments && traveler.attachments.insurance">
								<a *ngIf="traveler.attachments?.insurance" (click)="removeAttachment('insurance')">X</a>
								<img class="insuranceAttachment" [src]="traveler.attachments?.insurance" height="200" alt="Image preview...">
							</div>
							<div class="btn">
								<span>Browse</span>
								<input type="file" name="insuranceAttachment" (change)="updateImage($event, 'insurance')">
							</div>
						</div>
					</div>
				</div>


				<div class="detail-subheader col s12">
					<strong>Emergency Contacts</strong>
				</div>

				<div class="row">
					<div class="col s4">
						<label for="emergencyContactName" class="active">
							<strong>
								{{'Name'}}
							</strong>
						</label>
						<input id="emergencyContactName" type="text" name="emergencyContactName" class="validate" [(ngModel)]="traveler.emergencyContact.name" #emergencyContactName="ngModel">
					</div>
					<div class="col s4">
						<label for="emergencyContactNumber" class="active">
							<strong>
								{{'Phone'}}
							</strong>
						</label>
						<input id="emergencyContactNumber" type="text" name="emergencyContactNumber" class="validate" [(ngModel)]="traveler.emergencyContact.number">
					</div>
					
					<div class="col s4">
						<label for="emergencyContactRelation" class="active">
							<strong>
								{{'Relation'}}
							</strong>
						</label>
						<input id="emergencyContactRelation" type="text" name="emergencyContactRelation" class="validate" [(ngModel)]="traveler.emergencyContact.relation" #emergencyContactRelation="ngModel">
					</div>
				</div>

				<div class="row">
					<input type="checkbox" class="filled-in" id="pickupConfirmation" (click)=submitPickupConfirmation(traveler.airportPickup.confirmation) [checked]="traveler.airportPickup.confirmation"/>
					<label for="pickupConfirmation">
						<strong>
							{{'Do you want Airport Pickup?'}}
						</strong>
					</label>
				</div>

				<div *ngIf="traveler.airportPickup.confirmation">

					<div class="row">
						<div class="col s6" [ngClass]="[(traveler.airportPickup.confirmation && pickupDate?.errors?.required && submittedTravelerForm)?'err-div':'']">
							<label for="pickupDate" class="active">
								<strong>
									{{'Date'}}
								</strong>
								<span class="required-label-mark">{{' *'}}</span>
							</label>
							<my-date-picker id="pickupDate" class="validate" name="pickupDate" [(ngModel)]="traveler.airportPickup.date" #pickupDate="ngModel" [options]="myDatePickerOptions" required></my-date-picker>
							<div class="error-msg" *ngIf="traveler.airportPickup.confirmation && pickupDate?.errors?.required && submittedTravelerForm">
								This Field is Required!
							</div>
						</div>

						<div class="col s6">
							<div>
								<label for="pickupTime" class="active">
									<strong>
										{{'Pickup Time'}}
									</strong>
								</label>
							</div>
							<div class="col s4">
								<select class="browser-default" [(ngModel)]="traveler.airportPickup.hrTime" name="travelerPickupTimeHr" #travelerPickupTimeHr="ngModel">
									<option [value]="hr" *ngFor="let hr of hrs">
										<span>{{hr}}</span>
									</option>
								</select>
							</div>
							<div class="col s1" style="padding: 10px">
								<strong>:</strong>
							</div>
							<div class="col s4">
								<select class="browser-default" [(ngModel)]="traveler.airportPickup.minTime" name="travelerPickupTimeMin" #travelerPickupTimeMin="ngModel">
									<option [value]="min" *ngFor="let min of mins">
										<span>{{min}}</span>
									</option>
								</select>
							</div>
						</div>

					</div>
				</div>

				<div class="row">
					<input type="checkbox" (click)=submitHotelConfirmation(traveler.hotel.confirmation) class="filled-in" id="hotelConfirmation" [checked]="traveler.hotel.confirmation"/>
					<label for="hotelConfirmation">
						<strong>
							{{'Have you booked a hotel?'}}
						</strong>
					</label>
				</div>

				<div *ngIf="traveler.hotel.confirmation">
					<div class="row">
						<div class="col s4">
							<label for="hotelName" class="active">
								<strong>
									{{'Hotel Name'}}
								</strong>
							</label>
							<input id="hotelName" type="text" name="hotelName" class="validate" [(ngModel)]="traveler.hotel.name" #hotelName="ngModel">
						</div>

						<div class="col s4">
							<label for="hotelAddress" class="active">
								<strong>
									{{'Hotel Address'}}
								</strong>
							</label>
							<input id="hotelAddress" type="text" name="hotelAddress" class="validate" [(ngModel)]="traveler.hotel.address" #hotelAddress="ngModel">
						</div>
					
						<div class="col s4">
							<label for="hotelTelephone" class="active">
								<strong>
									{{'Hotel Telephone'}}
								</strong>
							</label>
							<input id="hotelTelephone" type="text" name="hotelTelephone" class="validate" [(ngModel)]="traveler.hotel.telephone" #hotelTelephone="ngModel">
						</div>
					</div>
				</div>

				<div class="detail-subheader col s12">
					<strong>Trip Cost</strong>
				</div>

				<div class="row trip-cost-header">
					<div class="col s2">
						<span>Description</span>
					</div>
					<div class="col s9">
						<span>Amount</span>
					</div>
					<div class="col s1">
						<span>Total</span>
					</div>
				</div>
				<div class="row">
					<div class="col s2">
						<span>Guide Cost</span>
					</div>
					<div class="col s3">
						<label for="tripGuideCount">No of guide</label>
						<input id="tripGuideCount" type="number" class="validate" name="tripGuideCount" [(ngModel)]="traveler.tripGuideCount" #tripGuideCount="ngModel">
					</div>
					<div class="col s3">
						<label for="tripGuideDays">No of days</label>
						<input id="tripGuideDays" type="number" class="validate" name="tripGuideDays" [(ngModel)]="traveler.tripGuideDays" #tripGuideDays="ngModel">
					</div>
					<div class="col s3">
						<label for="tripGuidePerDayCost">Per day cost</label>
						<input id="tripGuidePerDayCost" type="number" class="validate" name="tripGuidePerDayCost" [(ngModel)]="traveler.tripGuidePerDayCost" #tripGuidePerDayCost="ngModel">
					</div>
					<div class="col s1">
						<span>
							{{traveler.tripGuideCount * traveler.tripGuideDays * traveler.tripGuidePerDayCost}}
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col s2">
						<span>Porter Cost</span>
					</div>
					<div class="col s3">
						<label for="tripPoerterNumber">No of porter</label>
						<input id="tripPoerterNumber" type="number" class="validate" name="tripPoerterNumber" [(ngModel)]="traveler.tripPoerterNumber" #tripPoerterNumber="ngModel">
					</div>
					<div class="col s3">
						<label for="tripPoerterDays">No of day</label>
						<input id="tripPoerterDays" type="number" class="validate" name="tripPoerterDays" [(ngModel)]="traveler.tripPoerterDays" #tripPoerterDays="ngModel">
					</div>
					<div class="col s3">
						<label for="tripPoerterPerDayCost">Per day cost</label>
						<input id="tripPoerterPerDayCost" type="number" class="validate" name="tripPoerterPerDayCost" [(ngModel)]="traveler.tripPoerterPerDayCost" #tripPoerterPerDayCost="ngModel">
					</div>
					<div class="col s1">
						<span>
							{{traveler.tripPoerterNumber * traveler.tripPoerterDays * traveler.tripPoerterPerDayCost}}
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col s2">
						<span>Transportation Cost</span>
					</div>
					<div class="col s4">
						<label for="tripTransportationCost">Transportation Cost</label>
						<input id="tripTransportationCost" type="number" class="validate" name="tripTransportationCost" [(ngModel)]="traveler.tripTransportationCost" #tripTransportationCost="ngModel">
					</div>
					<div class="col s5">
						<label for="tripTransportationRemarks">Remarks</label>
						<textarea id="tripTransportationRemarks" class="validate materialize-textarea" name="tripTransportationRemarks" [(ngModel)]="traveler.tripTransportationRemarks" #tripTransportationRemarks="ngModel" rows="1" style="padding:0px"></textarea>
					</div>
					<div class="col s1">
						<span>
							{{traveler.tripTransportationCost}}
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col s2">
						<span>Accomodation Cost</span>
					</div>
					<div class="col s4">
						<label for="tripAccomodationCost">Accomodation Cost</label>
						<input id="tripAccomodationCost" type="number" class="validate" name="tripAccomodationCost" [(ngModel)]="traveler.tripAccomodationCost" #tripAccomodationCost="ngModel">
					</div>
					<div class="col s5">
						
					</div>
					<div class="col s1">
						<span>
							{{traveler.tripAccomodationCost}}
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col s2">
						<span>Food Cost</span>
					</div>
					<div class="col s4">
						<label for="tripFoodCost">Food Cost</label>
						<input id="tripFoodCost" class="validate" type="number" name="tripFoodCost" [(ngModel)]="traveler.tripFoodCost" #tripFoodCost="ngModel">
					</div>
					<div class="col s5">
						
					</div>
					<div class="col s1">
						<span>
							{{traveler.tripFoodCost}}
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col s2">
						<span>Pickup/Drop Cost</span>
					</div>
					<div class="col s4">
						<label for="tripPickupCost">Pickup/Drop Cost</label>
						<input id="tripPickupCost" class="validate" type="number" name="tripPickupCost" [(ngModel)]="traveler.tripPickupCost" #tripPickupCost="ngModel">
					</div>
					<div class="col s5">
						
					</div>
					<div class="col s1">
						<span>
							{{traveler.tripPickupCost}}
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col s2">
						<span>Permit Cost</span>
					</div>
					<div class="col s4">
						<label for="tripPermitCost">Permit Cost</label>
						<input id="tripPermitCost" class="validate" type="number" name="tripPermitCost" [(ngModel)]="traveler.tripPermitCost" #tripPermitCost="ngModel">
					</div>
					<div class="col s5">
						
					</div>
					<div class="col s1">
						<span>
							{{traveler.tripPermitCost}}
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col s2">
						<span>Flight Cost</span>
					</div>
					<div class="col s4">
						<label for="tripFlightCost">Flight Cost</label>
						<input id="tripFlightCost" class="validate" type="number" name="tripFlightCost" [(ngModel)]="traveler.tripFlightCost" #tripFlightCost="ngModel">
					</div>
					<div class="col s5">
						
					</div>
					<div class="col s1">
						<span>
							{{traveler.tripFlightCost}}
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col s2">
						<span>City Hotel Cost</span>
					</div>
					<div class="col s4">
						<label for="tripHotelCost">City Hotel Cost</label>
						<input id="tripHotelCost" class="validate" type="number" name="tripHotelCost" [(ngModel)]="traveler.tripHotelCost" #tripHotelCost="ngModel">
					</div>
					<div class="col s5">
						<label for="tripHotelRemark">Remarks</label>
						<textarea id="tripHotelRemark" class="validate materialize-textarea" name="tripHotelRemark" [(ngModel)]="traveler.tripHotelRemark" #tripHotelRemark="ngModel" rows="1" style="padding:0px"></textarea>
					</div>
					<div class="col s1">
						<span>
							{{traveler.tripHotelCost}}
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col s2">
						<span>Remark</span>
					</div>
					<div class="col s5">
						<label for="tripRemark">Remarks</label>
						<textarea id="tripRemark" class="validate materialize-textarea" name="tripRemark" [(ngModel)]="traveler.tripRemark" #tripRemark="ngModel" rows="1" style="padding:0px"></textarea>
					</div>
					<div class="col s4"></div>
					<div class="col s1"></div>
				</div>

				<div class="row">
					<div class="col s11">
						<span>Total Cost</span>
					</div>
					<div class="col s1">
						<span>
							{{
								(traveler.tripGuideCount * traveler.tripGuideDays * traveler.tripGuidePerDayCost)+
								(traveler.tripPoerterNumber * traveler.tripPoerterDays * traveler.tripPoerterPerDayCost)+
								(traveler.tripTransportationCost)+
								(traveler.tripAccomodationCost)+
								(traveler.tripFoodCost)+
								(traveler.tripPickupCost)+
								(traveler.tripPermitCost)+
								(traveler.tripFlightCost)+
								(traveler.tripHotelCost)
							}}
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col s12">
						<label for="messageBox" class="active">
							<strong>
								{{'Message Box'}}
							</strong>
						</label>
						<textarea id="messageBox" class="materialize-textarea validate" [(ngModel)]="traveler.messageBox" [ngModelOptions]="{standalone: true}"></textarea>
					</div>
		        </div>

				<div>
					<button md-button class="waves-effect #009688 teal btn" type="submit" [disabled]= "submitProgress">Submit</button>
				</div>
			</form>
		</div>
	</ng-template>
</div>
