<div class="billing-history-list-page">
	<h3 class="main-title">Billing History</h3>
	<table class="billing-history-list-table responsive-table highlight" *ngIf="billings && billings.length>0; else emptybillings">
		<thead>
			<tr>
				<td>Package Type</td>
				<td>Package Cost</td>
				<td>Activated On</td>
				<td>Expire On</td>
				<td>Remaining Days</td>
				<td>Uses Days</td>
				<td>On Hold</td>
				<td>Is Free</td>
				<!-- <td *ngIf="cookieIndex===10 && userId !== undefined">Paid Bill</td> -->
				<td>Status</td>
				<!-- <td *ngIf="cookieIndex===10 && userId !== undefined">Action</td> -->
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let billing of billings; let i = index;">
				<td>
					{{billing.packageType}}
				</td>
				<td>
					{{billing.packageCost}}
				</td>
				<td>
					{{billing.activatesOn*1000 | date}}
				</td>
				<td>
					{{billing.expiresOn*1000 | date}}
				</td>
				<td>
					{{billing.remainingDays}}
				</td>
				<td>
					{{billing.usesDays}}
				</td>
				<td>
					<span [ngClass]="(billing.onHold==true)?'active':'inactive'" (click)="toggleBillingFlag(i, 'onHold')">
						<i [ngClass]="(billing.onHold==true)?'fa fa-check':'fa fa-times'" class="fa fa-check"></i>
					</span>
				</td>
				<td>
					<span [ngClass]="(billing.freeUser==true)?'active':'inactive'" (click)="toggleBillingFlag(i, 'freeUser')">
						<i [ngClass]="(billing.freeUser==true)?'fa fa-check':'fa fa-times'" class="fa fa-check"></i>
					</span>
				</td>
				<!-- <td *ngIf="cookieIndex===10 && userId !== undefined">
					<span [ngClass]="(billing.packagePayment==true)?'active':'inactive'" (click)="upgradeBillPayment(i)">
						<i [ngClass]="(billing.packagePayment==true)?'fa fa-check':'fa fa-times'" class="fa fa-check"></i>
					</span>
				</td> -->
				<td>
					<span [ngClass]="(billing.status==true)?'active':'inactive'" (click)="toggleBillingFlag(i, 'status')">
						<i [ngClass]="(billing.status==true)?'fa fa-check':'fa fa-times'" class="fa fa-check"></i>
					</span>
				</td>
				<!-- <td *ngIf="cookieIndex===10 && userId !== undefined">
					<a class="edit" (click)="openBillingModal(billing)">
						<i class="material-icons">edit</i>
					</a>
				</td> -->
			</tr>
		</tbody>
	</table>
	<ng-template #emptybillings>
		<h5 class="center-align">Unable to find billing History</h5>
	</ng-template>
</div>