<div class="booking-list-page">
	<h3 class="main-title">Feedback Message</h3>
	<div  *ngIf="displayBlock == false;else displayInputBlock">
		<div *ngIf="feedbackObj">
			<div [innerHTML]="feedbackObj.message"></div>
		</div>
		<div>
			<a class="btn waves-effect waves-light" (click)="toggleDiv()">
				{{feedbackObj.message?'Update':'Add'}}
			</a>
		</div>
	</div>

	<ng-template #displayInputBlock>
		<textarea [froalaEditor] [(ngModel)]="feedbackObj.message" #feedbackMsg="ngModel" ></textarea>
		<div>
			<a class="btn waves-effect waves-light" (click)="submitFeedbackMsg()">
				Save
			</a>
		</div>
	</ng-template>
</div>