<div class="booking-list-page">
	<h3 class="main-title">Feedback Message</h3>
	<div *ngIf="displayBlock == false;else displayInputBlock">
		<div *ngIf="feedbackObj">
			{{feedbackObj.message}}
		</div>
		<div>
			<a class="btn waves-effect waves-light" (click)="toggleDiv()">
				{{feedbackObj.message?'Update':'Add'}}
			</a>
		</div>
	</div>
	<ng-template #displayInputBlock>
		<input id="feedbackmsg" class="validate" name="feedbackmsg" [(ngModel)]="feedbackObj.message" #feedbackMsg="ngModel" required>
<!-- <quill-editor>
<div quill-editor-toolbar>
<span class="ql-formats">
<button class="ql-bold" [title]="'Bold'"></button>
</span>
<span class="ql-formats">
<select class="ql-align" [title]="'Aligment'">
<option selected></option>
<option value="center"></option>
<option value="right"></option>
<option value="justify"></option>
</select>
<select class="ql-align" [title]="'Aligment2'">
<option selected></option>
<option value="center"></option>
<option value="right"></option>
<option value="justify"></option>
</select>
</span>
</div>
</quill-editor> -->
		<div>
			<a class="btn waves-effect waves-light" (click)="submitFeedbackMsg()">
				Save
			</a>
		</div>
	</ng-template>
</div>