<div class="container">
	<div class="nav-wrapper">

		<div *ngIf="loggedIn && users && users.length>0">
			<div class="row">
				<div class="col s6 m8">
					<select class="browser-default" [(ngModel)]="selectedBillingUser" name="selectedBillingUser">
						<option [value]="user._id" *ngFor="let user of users;let i=index;">
							<span *ngIf="user && user.email">
								{{user.email}}
							</span>
						</option>
					</select>
				</div>
			</div>
		</div>
		<div>
			<h5>From small to big companies, we’ve got you covered.</h5>
		</div>
		<div class="billing-duration" *ngIf="packageDetails && packageDetails.length>0">
			<div>
				Annual Billing
				<mat-slide-toggle
				  class="example-margin"
				  [(ngModel)]="selectedDuration">
				</mat-slide-toggle>
				Monthly Billing
			</div>
		</div>
		<div class="pricing-table">
			<div class="row">
				<div class="col s12 m4" *ngFor="let packageDetail of packageDetails">
					<div class="card">
						<div class="card-content center-align">
							<h2 class="card-title">{{packageDetail.packages.name}}</h2>
							<p>{{packageDetail.packages.description}}</p>
							<h3 class="price">
								{{(selectedDuration==true)?(packageDetail.packages.cost|currency:'USD':true:'1.0-0'):(packageDetail.packages.annualCost|currency:'USD':true:'1.0-0')}}{{	'/ month'}}
							</h3>
							<p *ngIf="packageDetail.packages.cost===0;else limitedPeriod">
								{{'Unlimited Period'}}
							</p>
							<ng-template #limitedPeriod>
								<p>
									{{(selectedDuration==true)?('for '+packageDetail.packages.days+' days'):('for 365 days')}}
								</p>
							</ng-template>
							<div class="btn-holder">
								<a *ngIf="loggedIn; else publicBilling;" 
									(click)="checkoutPackage(packageDetail.packages._id)" 
									class="waves-effect waves-light btn btn-start btn-large" 
									[attr.disabled]="(disableBillingBtn==true || (_cookieService.get('remainingDays')-0)>2)?true:null">
									pay bill
								</a>
								<ng-template #publicBilling>
									<a class="waves-effect waves-light btn btn-start btn-large" [routerLink]="['/register']">
										{{ (packageDetail.packages.cost==0) ? 'Start Now' : 'Free '+ packageDetail.packages.trialPeriod + '-day Trial' }}
									</a>
								</ng-template>
							</div>
							<div>
								<ul class="plan-list">
									<li *ngFor="let feature of packageDetail.features">
										{{ feature.name }}
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>