<div class="traveller-list-page">
	<div class="row">
		<div>
			<a class="btn waves-effect waves-light"  routerLink="/app/movements/traveler-info">
				Add New
			</a>
			<a class="btn waves-effect waves-light" (click)="exportCsv()">
				Export As Csv
			</a>
		</div>
		<div>
			<h3 class="main-title">Traveler List</h3>
		</div>
	</div>
	<table class="traveller-list-table responsive-table highlight" *ngIf="travelers && travelers.length>0; else emptyTravelers">
		<thead>
			<tr>
				<td>BookingId</td>
				<td>Name</td>
				<td>Email</td>
				<td>Nationality</td>
				<td>Permanent Address</td>
				<td>Telephone</td>
				<td>Airport Pickup</td>
				<td>Status</td>
				<td>Actions</td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let travalerInfo of travelers; let i = index;">
				<td (click)="openTravellerModal(travalerInfo, 'view')">
					{{ travalerInfo.bookingId }}
				</td>
				<td (click)="openTravellerModal(travalerInfo, 'view')">
					{{ travalerInfo.firstName+' '+ travalerInfo.lastName }}
				</td>
				<td (click)="openTravellerModal(travalerInfo, 'view')">
					{{ travalerInfo.email }}
				</td>
				<td (click)="openTravellerModal(travalerInfo, 'view')">
					{{ travalerInfo.nationality }}
				</td>
				<td (click)="openTravellerModal(travalerInfo, 'view')">
					{{ travalerInfo.permanentAddress }}
				</td>
				<td (click)="openTravellerModal(travalerInfo, 'view')">
					{{ travalerInfo.telephone }}
				</td>
				<td>
					<span [ngClass]="(travalerInfo.airportPickup.confirmation==true)?'active':'inactive'">
						<i [ngClass]="(travalerInfo.airportPickup.confirmation==true)?'fa fa-check':'fa fa-times'" class="fa fa-check"></i>
					</span>
				</td>
				<td>
					<span [ngClass]="(travalerInfo.status==true)?'active':'inactive'">
						<i [ngClass]="(travalerInfo.status==true)?'fa fa-check':'fa fa-times'" class="fa fa-check"></i>
					</span>
				</td>
				<td>
					<a class="edit" routerLink="/app/movements/traveler-info/booking/{{travalerInfo.bookingId}}/traveler/{{travalerInfo._id}}/redirect/traveller-details">
						<i class="material-icons">edit</i>
					</a>
					<a class="delete" (click)="deleteTravelerDetails(travalerInfo._id, i)">
						<i class="material-icons">delete</i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	<ng-template #emptyTravelers>
		<h5 class="center-align">Traveler Record is empty! Please add records!</h5>
	</ng-template>
	<!-- <div class="add-round-button-icon">
		<a class="btn-floating btn-large waves-effect waves-light red" routerLink="/app/movements/traveler-info">
			<i class="material-icons">add</i>
		</a>
	</div> -->
</div>