<div *ngIf="tokenExpErr == true">
	<div>
		<span>Activation Time has been expired!</span>
	</div>
	<div>
		<span>We have sent another email to activate your account.</span>
	</div>
</div>

<div *ngIf="alreadyActive == true">
	<div>
		<span>Your account has been activated.</span>
	</div>
	<div>
		<span>Please click <a [routerLink]="['/login']">here</a> to log into your account.</span>
	</div>
</div>

<div *ngIf="activated == true">
	<div>
		<span>Congratulation! Your account has been activated.</span>
	</div>
	<div>
		<span>Please click <a [routerLink]="['/login']">here</a> to log into your account.</span>
	</div>
</div>

<div *ngIf="activateErr == true">
	<div>
		<span>Failed to activate your account.</span>
	</div>
</div>
