<form class="col s12" (ngSubmit)="submitFlightDetails(flightDetail.form)" #flightDetail="ngForm" novalidate>
	<div md-dialog-content>

		<div class="row">
			<div class="col s6">
				<h5>
					{{title}}
				</h5>
			</div>
			<div class="col s6 right-align">
				<a (click)="dialogRef.close('opt-cancel')"><i class="material-icons clear-dialogBox">clear</i></a>
			</div>
		</div>

		<div class="row">
			<h5>Departure Informations</h5>
		</div>

		<div class="row">

			<div class="col s6">
				<label for="departureFlightName" [ngClass]="{'active':(flight.departure.name!=undefined)}">
					<strong>
						{{'Flight Name'}}
					</strong>
					<span class="required-label-mark">{{' *'}}</span>
				</label>
				<input id="departureFlightName" type="text" class="validate" name="departureFlightName" [(ngModel)]="flight.departure.name" #departureFlightName="ngModel"  required>
				<div *ngIf="departureFlightName?.errors?.required && submittedFlightForm">
					This Field is Required!
				</div>
			</div>

			<div class="col s6">
				<label for="departureFlightCost" [ngClass]="{'active':(flight.departure.cost!=undefined)}">
					<strong>
						{{'Flight Cost'}}
					</strong>
					<span class="required-label-mark">{{' *'}}</span>
				</label>
				<input id="departureFlightCost" type="number" class="validate" name="departureFlightCost" [(ngModel)]="flight.departure.cost" #departureFlightCost="ngModel" required>
				<div *ngIf="departureFlightCost?.errors?.required && submittedFlightForm">
					This Field is Required!
				</div>
			</div>

		</div>

		<div class="row">
			
			<div class="col s6">
				<label for="departureFlightDate" [ngClass]="{'active':(flight.departure.date!=undefined)}">
					<strong>
						{{'Departure Date'}}
					</strong>
					<span class="required-label-mark">{{' *'}}</span>
				</label>
				<my-date-picker id="departureFlightDate" class="validate" name="departureFlightDate" [(ngModel)]="flight.departure.date" #departureFlightDate="ngModel" required [options]="myDatePickerOptions"></my-date-picker>
				<div *ngIf="departureFlightDate?.errors?.required && submittedFlightForm">
					This Field is Required!
				</div>
			</div>

			<div class="col s6">
				<div>
					<label for="departureFlightTime" class="active">Departure Time</label>
				</div>
				<div class="col s4">
					<select class="browser-default" [(ngModel)]="flight.departure.hrTime" name="departureFlightTimeHr" #departureFlightTimeHr="ngModel">
						<option [value]="hr" *ngFor="let hr of hrs">
							<span>{{hr}}</span>
						</option>
					</select>
				</div>
				<div class="col s1" style="padding: 10px">
					<strong>:</strong>
				</div>
				<div class="col s4">
					<select class="browser-default" [(ngModel)]="flight.departure.minTime" name="departureFlightTimeMin" #departureFlightTimeMin="ngModel">
						<option [value]="min" *ngFor="let min of mins">
							<span>{{min}}</span>
						</option>
					</select>
				</div>
			</div>

		</div>

		<div class="row">
			<h5>Arrival Informations</h5>
		</div>

		<div class="row">

			<div class="col s6">
				<label for="arrivalFlightName" [ngClass]="{'active':(flight.arrival.name!=undefined)}">
					<strong>
						{{'Flight Name'}}
					</strong>
					<span class="required-label-mark">{{' *'}}</span>
				</label>
				<input id="arrivalFlightName" type="text" class="validate" name="arrivalFlightName" [(ngModel)]="flight.arrival.name" #arrivalFlightName="ngModel" required>
				<div *ngIf="arrivalFlightName?.errors?.required && submittedFlightForm">
					This Field is Required!
				</div>
			</div>

			<div class="col s6">
				<label for="arrivalFlightCost" [ngClass]="{'active':(flight.arrival.cost!=undefined)}">
					<strong>
						{{'Flight Cost'}}
					</strong>
					<span class="required-label-mark">{{' *'}}</span>
				</label>
				<input id="arrivalFlightCost" type="number" class="validate" name="arrivalFlightCost" [(ngModel)]="flight.arrival.cost" #arrivalFlightCost="ngModel" required>
				<div *ngIf="arrivalFlightCost?.errors?.required && submittedFlightForm">
					This Field is Required!
				</div>
			</div>

		</div>

		<div class="row">

			<div class="col s6">
				<label for="arrivalFlightDate" [ngClass]="{'active':(flight.arrival.date!=undefined)}">
					<strong>
						{{'Arrival Date'}}
					</strong>
					<span class="required-label-mark">{{' *'}}</span>
				</label>
				<my-date-picker id="arrivalFlightDate" class="validate" name="arrivalFlightDate" [(ngModel)]="flight.arrival.date" #arrivalFlightDate="ngModel" required [options]="myDatePickerOptions"></my-date-picker>
				
				<div *ngIf="arrivalFlightDate?.errors?.required && submittedFlightForm">
					This Field is Required!
				</div>
			</div>

			<div class="col s6">
				<div>
					<label for="arrivalFlightTime" class="active"><strong>
						{{'Arrival Time'}}
					</strong>
					<span class="required-label-mark">{{' *'}}</span></label>
				</div>
				<div class="col s4">
					<select class="browser-default" [(ngModel)]="flight.arrival.hrTime" name="arrivalFlightTimeHr" #arrivalFlightTimeHr="ngModel">
						<option [value]="hr" *ngFor="let hr of hrs">
							<span>{{hr}}</span>
						</option>
					</select>
				</div>
				<div class="col s1" style="padding: 10px">
					<strong>:</strong>
				</div>
				<div class="col s4">
					<select class="browser-default" [(ngModel)]="flight.arrival.minTime" name="arrivalFlightTimeMin" #arrivalFlightTimeMin="ngModel">
						<option [value]="min" *ngFor="let min of mins">
							<span>{{min}}</span>
						</option>
					</select>
				</div>
			</div>
			
		</div>
	</div>
	<div md-dialog-actions>
		<button [disabled]="disableSubmitButton==true" md-button class="waves-effect #009688 teal btn full-width-btn" type="button" (click)="submitFlightDetails(flightDetail.form)">Submit</button>
	</div>
</form>
