<div class="row">
	<div class="col s12 m8">
		<h4>Audience Country Detail Analytics</h4>
	</div>
</div>
<div>
	<div *ngIf="countryName">
		Country: {{countryName}}
	</div>
	<div *ngIf="countryDetailData">
		Number of Bookings : {{countryDetailData.length}}
	</div>
	<div *ngIf="countryDetailData && countryDetailData.length>0">
		Total Sales: {{ countryDetailData[0]['totalSales'] | currency:'USD':true }}
	</div>
</div>

<div class="row">
	<div class="col s12 m12">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Trip Name</th>
					<th>No. of Travelers </th>
					<th>Male Percentage</th>
					<th>Female Percentage</th>
					<th>Total Sales</th>
					<th>Max Age Group</th>
				</tr>
			</thead>
			<tbody *ngIf="countryDetailData && countryDetailData.length>0;else EmptyAnalyticsData;">
				<tr *ngFor="let countryDetail of countryDetailData; let idx=index">
					<td>{{ idx+1 }}</td>
					<td>{{ countryDetail._id.tripName }}</td>
					<td>{{ countryDetail.root.length }}</td>
					<td>{{ (countryDetail.male/countryDetail.countTravelers) | percent:'1.2-2' }}</td>
					<td>{{ (countryDetail.female/countryDetail.countTravelers) | percent:'1.2-2' }}</td>
					<td>{{ countryDetail.sales | currency:'USD':true }}</td>
					<td>{{ countryDetail.root | maxAgeGroup:'countAge' }}</td>
				</tr>
			</tbody>
			<ng-template #EmptyAnalyticsData>
				<tbody>
					<tr>
						<td>There is no data for this view</td>
					</tr>
				</tbody>
			</ng-template>
		</table>
	</div>	
</div>