<div class="row analytics-page">
	<div class="col s12 m8">
		<h3 class="main-title">Audience Age Analytics</h3>
	</div>
	<div class="datepicker-holder">
		<div class="row">
			<div class="col s12 m2">
				<my-date-picker name="startDate" [options]="myDatePickerOptions" [(ngModel)]="analyticsStartDate" (calendarToggle)="onCalendarToggle($event)" required></my-date-picker>
			</div>
			<div class="col s12 m2">
				<my-date-picker name="endDate" [options]="myDatePickerOptions" [(ngModel)]="analyticsEndDate" (calendarToggle)="onCalendarToggle($event)" required></my-date-picker>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col s12 m12">
		<table class="table_trek">
			<thead>
				<tr>
					<th></th>
					<th>Age Group</th>
					<th>Total Travelers</th>
					<th>Total Sales</th>
				</tr>
			</thead>
			<tbody *ngIf="ageAnalyticsData && ageAnalyticsData.length>0;else EmptyAnalyticsData;">
				<tr *ngFor="let ageAnalytics of ageAnalyticsData; let idx=index" (click)="navigateToAgeDetails(ageAnalytics._id)">
					<td>{{ idx+1 }}</td>
					<td>{{ ageAnalytics._id }}</td>
					<td>{{ ageAnalytics.root | sumTotalPipe:'count' }}</td>
					<td>{{ ageAnalytics.totalSales | currency:'USD'}}</td>
				</tr>
			</tbody>
			<ng-template #EmptyAnalyticsData>
				<tbody>
					<tr>
						<td>There is no data for this view</td>
					</tr>
				</tbody>
			</ng-template>
		</table>
	</div>
</div>