<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
		
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.min.js"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

		<!-- Angular Material Library -->
		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
	</head>
		<style>
			.mydp .selection {
				width: 70%;
			}

			.add-round-button-icon {
				bottom: 0;
			    position: fixed;
			    right: 35px;
			    padding-bottom: 100px;
			}

			.required-label-mark {
				color: #e85858;
			}

			.clear-dialogBox {
				color: #b1b1b1;
			}

			.full-width-btn {
				width: 100%
			}

			.full-width-btn-div {
				width: 90%
			}

			.full-width-btn-div .btn {
				width: 100%
			}
		</style>
	</head>
	<body>
		<div ng-app="travellersApp" ng-controller="appCtrl">
			
			<form class="col s12" ng-submit="submitTravellerDetails(travelerDetailForm.$valid)" name="travelerDetailForm" novalidate>
				
				<div class="detail-subheader col s12">
					<strong>Basic Informations</strong>
				</div>

				<div class="row">
					<div class="col s4">
						<label for="first_name" class="active">
							<strong>
								{{'First Name'}}
							</strong>
							<span class="required-label-mark">{{' *'}}</span>
						</label>
						<input id="first_name" type="text" name="firstName" class="validate" ng-model="traveller.firstName" required>
						<p ng-if="submitted && travelerDetailForm.firstName.$error.required">
							This Field is Requierd!
						</p>
					</div>

					<div class="col s4">
						<label for="middleName" class="active">
							<strong>
								{{'Middle Name'}}
							</strong>
						</label>
						<input id="middle_name" type="text" name="middleName" class="validate" ng-model="traveller.middleName">
					</div>

					<div class="col s4">
						<label for="lastName" class="active">
							<strong>
								{{'Last Name'}}
							</strong>
							<span class="required-label-mark">{{' *'}}</span>
						</label>
						<input id="lastName" type="text" name="lastName" class="validate" ng-model="traveller.lastName" required>
						<p ng-if="submitted && travelerDetailForm.lastName.$error.required">
							This Field is Requierd!
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col s4">
						<label for="gender" class="active">
							<strong>
								{{'Gender'}}
							</strong>
							<span class="required-label-mark">{{' *'}}</span>
						</label>
					    <select style="display: block;" ng-model="traveller.gender" ng-options="gender.viewValue for gender in genders" required></select>
					    <p ng-if="submitted && travelerDetailForm.gender.$error.required">
							This Field is Requierd!
						</p>
					</div>

					<div class="col s4">
						<label for="nationality" class="active">
							<strong>
								{{'Country'}}
							</strong>
							<span class="required-label-mark">{{' *'}}</span>
						</label>
						<input id="nationality" type="text" name="nationality" class="validate" ng-model="traveller.nationality" required>
						<p ng-if="submitted && travelerDetailForm.nationality.$error.required">
							This Field is Requierd!
						</p>
					</div>

					<div class="col s4">
						<div class="row">
							<label for="dob" class="active">
								<strong>
									{{'BirthDate'}}
								</strong>
								<span class="required-label-mark">{{' *'}}</span>
							</label>
						</div>
						<div class="row">
							<md-datepicker id="dob" name="dob" ng-model="traveller.dob" md-open-on-focus required></md-datepicker>
						</div>
						<p ng-if="submitted && travelerDetailForm.dob.$error.required">
							This Field is Requierd!
						</p>
					</div>

				</div>

				<div class="row">
					<div class="col s4">
						<label for="permanentAddress" class="active">
							<strong>
								{{'Permanent Address'}}
							</strong>
						</label>
						<input id="permanentAddress" type="text" name="permanentAddress" class="validate" ng-model="traveller.permanentAddress">
					</div>

					<div class="col s4">
						<label for="email" class="active">
							<strong>
								{{'Email'}}
							</strong>
							<span class="required-label-mark">{{' *'}}</span>
						</label>
						<input id="email" type="text" name="email" class="validate" ng-model="traveller.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
						<p ng-if="submitted && travelerDetailForm.email.$error.required">This Field is Requierd!</p>
						<p ng-if="submitted && travelerDetailForm.email.$error.pattern">Email Does not Match!</p>
					</div>

					<div class="col s4">
						<label for="telephone" class="active">
							<strong>
								{{'Telephone'}}
							</strong>
						</label>
						<input id="telephone" type="text" name="telephone" class="validate" ng-model="traveller.telephone">
					</div>
				</div>

				<div class="detail-subheader col s12">
					<strong>Attachments</strong>
				</div>
				<div class="row">
					<div class="col s4">
						<label class="active">
							<strong>
								{{'Profile Image'}}
							</strong>
						</label>
						<div class="file-field input-field">
							<div class="btn">
								<span>Browse</span>
								<input type="file" name="profileAttachment" file-model="traveller.profileAttachment" onchange="angular.element(this).scope().previewUpload('profileAttachment')">
							</div>
							<div class="file-path-wrapper">
								<img class="profileAttachment" src="" height="200" alt="Image preview...">
							</div>
							<div ng-if="attachmentErr && attachmentErr.profileAttachmentErr">
								<strong>
									<p>{{attachmentErr.profileAttachmentErr}}</p>
								</strong>
							</div>
						</div>
					</div>

					<div class="col s4">
						<label class="active">
							<strong>
								{{'Passport Image'}}
							</strong>
						</label>
						<div class="file-field input-field">
							<div class="btn">
								<span>Browse</span>
								<input type="file" name="passportAttachment" file-model="traveller.passportAttachment" onchange="angular.element(this).scope().previewUpload('passportAttachment')">
							</div>
							<div class="file-path-wrapper">
								<img class="passportAttachment" src="" height="200" alt="Image preview...">
							</div>
							<div ng-if="attachmentErr && attachmentErr.passportAttachmentErr">
								<strong>
									<p>{{attachmentErr.passportAttachmentErr}}</p>
								</strong>
							</div>
						</div>
					</div>

					<div class="col s4">
						<label class="active">
							<strong>
								{{'Insurance Image'}}
							</strong>
						</label>
						<div class="file-field input-field">
							<div class="btn">
								<span>Browse</span>
								<input type="file" name="insuranceAttachment" file-model="traveller.insuranceAttachment" onchange="angular.element(this).scope().previewUpload('insuranceAttachment')">
							</div>
							<div class="file-path-wrapper">
								<img class="insuranceAttachment" src="" height="200" alt="Image preview...">
							</div>
							<div ng-if="attachmentErr && attachmentErr.insuranceAttachmentErr">
								<strong>
									<p>{{attachmentErr.insuranceAttachmentErr}}</p>
								</strong>
							</div>
						</div>
					</div>
				</div>

				<div class="detail-subheader col s12">
					<strong>Emergency Contacts</strong>
				</div>

				<div class="row">
					<div class="col s4">
						<label for="emergencyContactName" class="active">
							<strong>
								{{'Name'}}
							</strong>
						</label>
						<input id="emergencyContactName" type="text" name="emergencyContactName" class="validate" ng-model="traveller.emergencyContact.name">
					</div>

					<div class="col s4">
						<label for="emergencyContactNumber" class="active">
							<strong>
								{{'Phone'}}
							</strong>
						</label>
						<input id="emergencyContactNumber" type="text" name="emergencyContactNumber" class="validate" ng-model="traveller.emergencyContact.number">
					</div>
					
					<div class="col s4">
						<label for="emergencyContactRelation" class="active">
							<strong>
								{{'Relation'}}
							</strong>
						</label>
						<input id="emergencyContactRelation" type="text" name="emergencyContactRelation" class="validate" ng-model="traveller.emergencyContact.relation">
					</div>
				</div>

				<div class="row">
					<input type="checkbox" ng-click=submitPickupConfirmation(traveller.airportPickup.confirmation) class="filled-in" id="pickupConfirmation" ng-model="traveller.airportPickup.confirmation"/>
					<label for="pickupConfirmation">
						<strong>
							{{'Do you want Airport Pickup?'}}
						</strong>
					</label>
				</div>

				<div ng-if="traveller.airportPickup.confirmation">
					<div class="row">
						<div class="col s4">
							<div class="row">
								<label for="pickupTime" class="active">
									<strong>
										{{'Pickup Time'}}
									</strong>
								</label>
							</div>
							<div class="col s4">
								<select class="browser-default" ng-model="traveller.airportPickup.hrTime" name="travelerPickupTimeHr" ng-options="hr for hr in timePicker.hrs">
								</select>
							</div>
							<div class="col s1" style="padding: 10px">
								<strong>:</strong>
							</div>
							<div class="col s4">
								<select class="browser-default" ng-model="traveller.airportPickup.minTime" name="travelerPickupTimeMin" ng-options="min for min in timePicker.mins">
								</select>
							</div>
						</div>
						<div class="col s4">
							<div class="row">
								<label for="pickupDate" class="active">
									<strong>
										{{'Date'}}
									</strong>
									<span class="required-label-mark">{{' *'}}</span>
								</label>
							</div>
							<div class="row">
								<md-datepicker id="pickupDate" name="pickupDate" ng-model="traveller.airportPickup.date" md-open-on-focus required></md-datepicker>
								<p ng-if="traveller.airportPickup.confirmation && submitted && travelerDetailForm.pickupDate.$error.required">This Field is Requierd!</p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<input type="checkbox" ng-click=submitHotelConfirmation(traveller.hotel.confirmation) class="filled-in" id="hotelConfirmation" ng-model="traveller.hotel.confirmation"/>
					<label for="hotelConfirmation">
						<strong>
							{{'Have you Booked the Hotel?'}}
						</strong>
					</label>
				</div>

				<div ng-if="traveller.hotel.confirmation">
					<div class="row">
						<div class="col s4">
							<label for="hotelName" class="active">
								<strong>
									{{'Hotel Name'}}
								</strong>
							</label>
							<input id="hotelName" type="text" name="hotelName" class="validate" ng-model="traveller.hotel.name">
						</div>

						<div class="col s4">
							<label for="hotelAddress" class="active">
								<strong>
									{{'Hotel Address'}}
								</strong>
							</label>
							<input id="hotelAddress" type="text" name="hotelAddress" class="validate" ng-model="traveller.hotel.address">
						</div>
						
						<div class="col s4">
							<label for="hotelTelephone" class="active">
								<strong>
									{{'Hotel Telephone'}}
								</strong>
							</label>
							<input id="hotelTelephone" type="text" name="hotelTelephone" class="validate" ng-model="traveller.hotel.telephone">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col s12">
						<label for="messageBox" class="active">
							<strong>
								{{'Message Box'}}
							</strong>
						</label>
						<textarea id="messageBox" class="materialize-textarea" data-length="120" ng-model="traveller.messageBox"></textarea>
					</div>
		        </div>
				<div class="row">
					<button ng-disabled="submitProgress" md-button class="waves-effect #009688 teal btn" type="submit">Submit</button>
				</div>
			</form>
		</div>
		<script>
			var app = angular.module('travellersApp', ['ngCookies', 'ngMaterial', 'ngMessages']);

			app.directive('fileModel', ['$parse', function ($parse) {
				return {
					restrict: 'A',
					link: function(scope, element, attrs) {
						var model = $parse(attrs.fileModel);
						var modelSetter = model.assign;

						element.bind('change', function(){
							scope.$apply(function(){
								modelSetter(scope, element[0].files[0]);
							});
						});
					}
				};
			}]);

			app.controller('appCtrl', ['$scope', '$http', '$window', '$cookies', '$timeout', function($scope, $http, $window, $cookies, $timeout) {
				$scope.traveller = {airportPickup:{}};
				$scope.submitted = false;
				$scope.timePicker = developTimePicker();
				$scope.submitProgress = false;
				$scope.traveller.airportPickup.hrTime = $scope.timePicker.hrs[0];
				$scope.traveller.airportPickup.minTime = $scope.timePicker.mins[0];

				$scope.genders = [
				    {value: 'male', viewValue: 'Male'},
				    {value: 'female', viewValue: 'Female'}
				];
				$scope.traveller.gender = $scope.genders[0];

				$scope.previewUpload = function(uploadType){
					$scope.attachmentErr = {};
					var preview = document.querySelector('.'+uploadType);
					$timeout(function(){ 
						var attachment = $scope.traveller[uploadType];
						if(attachment.size <= 1000000){
							if(attachment.type == 'image/jpeg'){
								var reader  = new FileReader();
								reader.addEventListener("load", function () {
									preview.src = reader.result;
									var dataObj = {
										name: $scope.traveller[uploadType].name,
										size: $scope.traveller[uploadType].size,
										type: $scope.traveller[uploadType].type,
										imageFile: reader.result
									};
									$scope.traveller[uploadType] = dataObj;
								}, false);
								if(attachment){
									reader.readAsDataURL(attachment);
								}
							}else{
								let previewClass= preview.getAttribute('class');
								$scope.attachmentErr[previewClass+'Err'] = 'Only .jpg extension is allowed';
							}
						}else{
							let previewClass= preview.getAttribute('class');
							$scope.attachmentErr[previewClass+'Err'] = 'File size must be less than 1Mb';
						}
					}, 0);
				}

				$scope.submitPickupConfirmation = function(isConfirmed){
					if(!isConfirmed){
						$scope.traveller.airportPickup = {};
					}
				}

				$scope.submitHotelConfirmation = function(isConfirmed){
					if(!isConfirmed){
						$scope.traveller.hotel = {};
					}
				}

				$scope.submitTravellerDetails = function(isValid){
					$scope.submitted = true;
					if(isValid){
						if($scope.traveller.dob){
							let epoc = new Date($scope.traveller.dob).getTime()/1000;
							let date = {
								day: new Date($scope.traveller.dob).getDate(),
								month: new Date($scope.traveller.dob).getMonth()+1,
								year: new Date($scope.traveller.dob).getFullYear()
							}
							let jsDate = $scope.traveller.dob.toISOString()
							$scope.traveller.birthDate = {
								epoc: epoc,
								formatted: date.day+'-'+date.month+'-'+date.year,
								jsdate: jsDate,
								date: date,
							}
						}
						if($scope.traveller.airportPickup.date){
							let epoc = new Date($scope.traveller.airportPickup.date).getTime()/1000;
							let date = {
								day: new Date($scope.traveller.airportPickup.date).getDate(),
								month: new Date($scope.traveller.airportPickup.date).getMonth()+1,
								year: new Date($scope.traveller.airportPickup.date).getFullYear()
							}
							let jsDate = $scope.traveller.airportPickup.date.toISOString()
							$scope.traveller.airportPickupDate = {
								epoc: epoc,
								formatted: date.day+'-'+date.month+'-'+date.year,
								jsdate: jsDate,
								date: date,
							}
						}

						$scope.submitProgress = true;
						$scope.traveller.gender = $scope.traveller.gender.value;
						var iframeSource = $window.frameElement.getAttribute('src');
						$http({
								method:'post', 
								url: iframeSource+'/create', 
								data:$scope.traveller, 
								headers:{
									webHeader: JSON.stringify($cookies.getAll()),
									webOrigin: window.location.origin
								}
							})
							.then(saveResponse=>{
								if(saveResponse.data.success == true){
									$scope.submitProgress = false;
									window.top.location.href = document.referrer;
								}else{
									$scope.submitProgress = false;
									alert(saveResponse.data.msg);
								}
							})
							.catch(errorResponse=>{
								$scope.submitProgress = false;
								alert('Failed to save traveler details!!')
							});
					}
				}

				function developTimePicker(){
					for(let i=0; i<24;i++){
						if(this.hrs == undefined){
							this.hrs = [];
						}
						if(i<10){
							this.hrs.push('0'+i);
						}else{
							this.hrs.push(JSON.stringify(i));
						}
					}
					for(let i=0; i<=55;i+=5){
						if(this.mins == undefined){
							this.mins = [];
						}
						if(i<10){
							this.mins.push('0'+i);
						}else{
							this.mins.push(JSON.stringify(i));
						}
					}
					let time = {hrs:this.hrs,mins:this.mins};
					return time;
				}

			}]);
		</script>
	</body>
</html>