<form class="add-feature-detail-form col s12" (ngSubmit)="submitAppFeatures(featureDetail.form)" #featureDetail="ngForm" novalidate>
	<div md-dialog-content>
		<div class="row">
			<div class="col s6">
				<h5>
					{{title}}
				</h5>
			</div>
			<div class="col s6 right-align">
				<a (click)="dialogRef.close('opt-cancel')"><i class="material-icons clear-dialogBox">clear</i></a>
			</div>
		</div>

		<div class="row">
			<div class="col s12" [ngClass]="[(name?.errors?.required && submittedFeatureForm)?'err-div':'']">
				<label for="feature-name" [ngClass]="{'active':(appFeatures.name!=undefined)}">
					<strong>
						{{'Feature Name'}}
					</strong>
					<span class="required-label-mark">{{' *'}}</span>
				</label>
				<input id="feature-name" 
						type="text" 
						class="validate" 
						name="name" 
						[value] = "appFeatures.name" 
						required
						maxlength="60"
						[(ngModel)]="appFeatures.name" 
						#name="ngModel">
				<div class="error-msg" *ngIf="name?.errors?.required && submittedFeatureForm">
					This Field is Required!
				</div>
				<div class="error-msg" *ngIf="name?.errors?.maxlength && submittedFeatureForm">
					This Field cannot be more than 60 characters long.
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<label for="feature-description">
					<strong>
						{{'Feature Description'}}
					</strong>
				</label>
				<input id="feature-description" type="text" class="validate" name="description" [(ngModel)]="appFeatures.description" #description="ngModel" [value] = "appFeatures.description">
			</div>
		</div>
	</div>
	<div md-dialog-actions>
		<button class="waves-effect waves-light btn" type="submit" [disabled]="featureFormOnProcess">Submit</button>
	</div>
</form>
