<div *ngIf="tokenExpErr == true">
	<div>
		<span>Activation Time has been expired!</span>
	</div>
	<div>
		<span>We have sent another email to activate your account.</span>
	</div>
</div>

<div *ngIf="alreadyActive == true">
	<div>
		<span>Your account has already been acitvated.</span>
	</div>
	<div>
		<span>Please <a [routerLink]="['/login']">Login</a> with your credentials.</span>
	</div>
</div>

<div *ngIf="activated == true">
	<div>
		<span>Your account has been acitvated.</span>
	</div>
	<div>
		<span>Please <a [routerLink]="['/login']">Login</a> with your credentials.</span>
	</div>
</div>

<div *ngIf="activateErr == true">
	<div>
		<span>Failed to activate your account.</span>
	</div>
</div>