<div>
	<div>
		<h3>Movement Details</h3>
	</div>
	<div class="divider"></div>
	<div>
		<md-grid-list cols="12" rowHeight="30px">
			<md-grid-tile [colspan]="8" [rowspan]="3">
				<div>
					<h5>Filter By</h5>
				</div>
			</md-grid-tile>

			<md-grid-tile [colspan]="2" [rowspan]="1">
				<div class="text-inside-grid">
					<input class="with-gap" name="movementFilter" type="radio" id="upcomingFilter" value="upcoming" [(ngModel)]="filterOpt" (change)="getFilterDate()"/>
					<label for="upcomingFilter">Upcoming</label>
				</div>
			</md-grid-tile>
			
			<md-grid-tile [colspan]="2" [rowspan]="1">
				<div class="text-inside-grid">
					<input class="with-gap" name="movementFilter" type="radio" id="weeklyFilter" value="weekly" [(ngModel)]="filterOpt" (change)="getFilterDate()"/>
					<label for="weeklyFilter">Weekly</label>
				</div>
			</md-grid-tile>
			
			<md-grid-tile [colspan]="2" [rowspan]="1">
				<div class="text-inside-grid">
					<input class="with-gap" name="movementFilter" type="radio" id="dailyFilter" value="daily" [(ngModel)]="filterOpt" (change)="getFilterDate()"/>
					<label for="dailyFilter">Today</label>
				</div>
			</md-grid-tile>
			
			<md-grid-tile [colspan]="2" [rowspan]="1">
				<div class="text-inside-grid">
					<input class="with-gap" name="movementFilter" type="radio" id="monthlyFilter" value="monthly" [(ngModel)]="filterOpt" (change)="getFilterDate()"/>
					<label for="monthlyFilter">Monthly</label>
				</div>
			</md-grid-tile>
			
			<md-grid-tile [colspan]="2" [rowspan]="1">
				<div class="text-inside-grid">
					<input class="with-gap" name="movementFilter" type="radio" id="yearlyFilter" value="yearly" [(ngModel)]="filterOpt" (change)="getFilterDate()"/>
					<label for="yearlyFilter">Yearly</label>
				</div>
			</md-grid-tile>
			
			<md-grid-tile [colspan]="2" [rowspan]="1">
				<div class="text-inside-grid">
					<input class="with-gap" name="movementFilter" type="radio" id="customFilter" value="custom" [(ngModel)]="filterOpt" (change)="getFilterDate()"/>
					<label for="customFilter">Custom</label>
				</div>
			</md-grid-tile>

		</md-grid-list>
	</div>
	<div class="row">
		<div class="col s12 m2 right">
			<my-date-picker name="arrival" [options]="myDatePickerOptions" [(ngModel)]="arrivalDate" (calendarToggle)="onCalendarToggle($event)" required></my-date-picker>
		</div>
		<div class="col s12 m2 right">
			<my-date-picker name="departure" [options]="myDatePickerOptions" [(ngModel)]="departureDate" (calendarToggle)="onCalendarToggle($event)" required></my-date-picker>
		</div>
	</div>
	<div class="row" *ngIf="auths.idx && auths.idx ==='30'">
		<select class="browser-default" [ngModel]="selectedArrOpt" (ngModelChange)="filterBySelection($event)">
			<option [ngValue]="arrVal" *ngFor="let arrVal of selectorArr">
				<span>
					{{ arrVal.organizationName }}
				</span>
			</option>
		</select>
	</div>
	<div>
		<table class="bordered responsive-table highlight" *ngIf="treks && treks.length>0;else emptyTrekFilter">
			<thead>
				<tr>
					<th>Group Name</th>
					<th>Trip Name</th>
					<th>
						{{(auths.idx && auths.idx ==='20')?'Guide Email':'Company Name'}}
					</th>
					<th>Departure Date</th>
					<th>Arrival Date</th>
					<th>Booking Status</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let trek of treks">
					<td [routerLink]="['/app/bookings/booking-details', trek.bookingId]">
						<span>{{ trek.groupName }}</span>
					</td>
					<td [routerLink]="['/app/bookings/booking-details', trek.bookingId]">
						<span>{{ trek.tripName }}</span>
					</td>
					<td [routerLink]="['/app/bookings/booking-details', trek.bookingId]">
						<span>
							{{(auths.idx && auths.idx ==='20')?trek.selectedGuide:trek.users.organizationName}}
						</span>
					</td>
					<td [routerLink]="['/app/bookings/booking-details', trek.bookingId]">
						<span>{{ trek.trip.departureDate.formatted }}</span>
					</td>
					<td [routerLink]="['/app/bookings/booking-details', trek.bookingId]">
						<span>{{ trek.trip.arrivalDate.formatted }}</span>
					</td>
					<td [routerLink]="['/app/bookings/booking-details', trek.bookingId]">
						<span>{{ trek.status==true?'active':'inactive' }}</span>
					</td>
				</tr>
			</tbody>
		</table>
		<ng-template #emptyTrekFilter>
			<h5 class="center-align">Booking Records not found in selected filter!</h5>
		</ng-template>
	</div>
</div>

<div class="pagination-div" *ngIf="treks && treks.length>0">
	<ul class="pagination">
		<li [ngClass]="currentMovementPage==0 ? 'disabled' : 'waves-effect'" (click)="changePagination(0)">
			<a><i class="material-icons">chevron_left</i></a>
		</li>
		<li [ngClass]="i==currentMovementPage ? 'active' : 'waves-effect'" *ngFor="let totalFilterMovementPage of totalFilterMovementPages; let i = index;" (click)="changePagination(i)">
			<a>{{i+1}}</a>
		</li>
		<li [ngClass]="currentMovementPage==(totalTreksData-1) ? 'disabled' : 'waves-effect'" (click)="changePagination(totalTreksData-1)">
			<a><i class="material-icons">chevron_right</i></a>
		</li>
	</ul>
</div>