<div class="row">
	<div class="col s12 m8">
		<h4>Audience Country Analytics</h4>
	</div>
</div>
<div class="row">
	<div class="col s12 m12">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Country Name</th>
					<th>Total Travelers</th>
					<th>Total Sales</th>
				</tr>
			</thead>
			<tbody *ngIf="analyticData && analyticData.length>0;else EmptyAnalyticsData;">
				<tr *ngFor="let country of analyticData; let idx=index" (click)="navigateCountryDetails(country._id)">
					<td>{{ idx+1 }}</td>
					<td>{{ country._id }}</td>
					<td>{{ country.travelerCounts }}</td>
					<td>{{ country.totalSalesAmt | currency:'USD':true }}</td>
				</tr>
			</tbody>
			<ng-template #EmptyAnalyticsData>
				<tbody>
					<tr>
						<td>There is no data for this view</td>
					</tr>
				</tbody>
			</ng-template>
		</table>
	</div>
</div>