<!DOCTYPE html>
<html>
<head>
	<title>Response to join as guide</title>
</head>
<body>
	<div>
		<p>Hi,</p>
		<p>This is to notify that <%= guideEmail %> has <%= acceptance %> to join you as guide.</p>
	</div>
	<div>
		<strong>Kind Regards,</strong><br>
		<strong>Trek Engine Team</strong>
	</div>
</body>
</html>