<!DOCTYPE html>
<html>
<head>
	<title>Selected as guide for trip</title>
</head>
<body>
	<div>
		<p>Hi <%= guideName %>,</p>
		<p>You have been assigned for a guide by  <%= sender %>.</p>
		<p>Please get the trip's detail <a href="<%= webHost %>">here</a>.</p> 
	</div>
	<div>
		<strong>Kind Regards,</strong><br>
		<strong>Trek Engine Team</strong>
	</div>
</body>
</html>