<!DOCTYPE html>
<html>
<head>
	<title>TrekEngine Account Switched</title>
</head>
<body>
	<div>
		<p>Hi <%= userName %>,</p>
	</div>
	<div>
		Since we did not received payment for your current package we deactivated the current account. You are switched to use Basic Account
	</div>
	<div>
		<strong>Kind Regards,</strong><br>
		<strong>Trek Engine Team</strong>
	</div>
</body>
</html>