<!DOCTYPE html>
<html>
<head>
	<title>Billing Receipt</title>
</head>
<body>
	<div>
		<p>Hi,</p>
	</div>
	<div>
		Your account has been acivated by selected <%= packageType %> package.
	</div>

	<div>
		<strong>Kind Regards,</strong><br>
		<strong>Trek Engine Team</strong>
	</div>
</body>
</html>