<!DOCTYPE html>
<html>
<head>
	<title>TrekEngine Registration</title>
</head>
<body>
	<div>
		<p>Hi,</p>
	</div>
	<div>
		<h3>Just one more click</h><br>
	</div>
	<div>
		Join us by clicking below link to activate your account.
	</div>
	<div style="padding-top: 50px;padding-bottom: 50px">
		<a href="<%= webHost %>" style="text-decoration: none;background-color: lime; color: white;">
			Activate Account
		</a>
	</div>
	<div>
		<strong>Kind Regards,</strong><br>
		<strong>Trek Engine Team</strong>
	</div>
</body>
</html>