<!DOCTYPE html>
<html>
<head>
	<title>Billing Receipt</title>
</head>
<body>
	<div>
		<p>Hi,</p>
	</div>
	<div>
		Your selected <%= packageType %> package has been listed in hold and will be activated as soon as current account is expired.
	</div>

	<div>
		<strong>Kind Regards,</strong><br>
		<strong>Trek Engine Team</strong>
	</div>
</body>
</html>