<div class="row">
	<div class="col s12 m4">
		<form #passwordForm="ngForm" novalidate>
			<div class="card">
				<div *ngIf="expireToken == false;else showFormError;">
					<div class="card-action">
						<div class="row">
							<div class="col s6">
								<h5>
									{{'Change Password'}}
								</h5>
							</div>
						</div>

						<div class="row">
							<div class="col s12">
								<label for="userPassword">
									New Password
									<span class="required-label-mark">{{' *'}}</span>
								</label>
								<input 
									id="userPassword" 
									type="password" 
									class="validate" 
									name="userPassword" 
									[ngModel]="profilePassword.userPassword" 
									#userPassword="ngModel" 
									validateEqual="confirmPassword" 
									reverse="true"
									required>
								<div class="error-msg" *ngIf="userPassword?.errors?.required && submittedPasswordForm">
									This Field is Required!
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col s12">
								<label for="confirmPassword">
									Confirm Password
									<span class="required-label-mark">{{' *'}}</span>
								</label>
								<input 
									id="confirmPassword" 
									type="password" 
									class="validate" 
									name="confirmPassword" 
									[ngModel]="profilePassword.confirmPassword" 
									#confirmPassword="ngModel"
									validateEqual="userPassword" 
									reverse="false"
									required>
	        	
								<div class="error-msg" *ngIf="confirmPassword?.errors?.required && submittedPasswordForm">
									This Field is Required!
								</div>
								<div class="error-msg" *ngIf="(confirmPassword?.errors?.validateEqual==false) && (confirmPassword.prestine || submittedPasswordForm)">
									Password Missmatch!
								</div>
							</div>
						</div>

						<div class="center-align submit-btn">
							<button style="width: 100%;" [disabled]="disableSubmitBtn" class="waves-effect waves-light btn #7cb342 light-blue darken-1"(click)="submitPasswordInfo(passwordForm.form, profilePassword)">{{'Submit'}}</button>
						</div>
					</div>
<!-- 					<div class="card-action">
						<button class="btn" [disabled]="disableSubmitBtn" (click)="submitPasswordInfo(passwordForm.form, profilePassword)">Submit</button>
					</div> -->
				</div>
				<ng-template #showFormError>
					<div>
						Token has been expired
					</div>
					<div>
						We have sent another link to reset your password.<br>
						Please check your email.
					</div>
				</ng-template>
			</div>
		</form>
	</div>
</div>