<div *ngIf="successMessage?.length>0">
	{{ successMessage }}
</div>
<div *ngIf="errMessage?.length>0">
	{{ errMessage }}
</div>
<div class="row">
	<form class="col s12" (ngSubmit)="registerUser(registerForm.form)" #registerForm="ngForm" novalidate>
		<div class="row">
			<div class="input-field col s12">
				<label for="first_name">First Name</label>
				<input id="first_name" type="text" class="validate" name="fname" [(ngModel)]="user.fname" #fname="ngModel" required maxlength="32">
				<div *ngIf="fname.errors && (fname.dirty || fname.touched)"
					class="alert alert-danger">
					<div [hidden]="!fname.errors.required">
						This Field is Required!
					</div>
					<div [hidden]="!fname.errors.maxlength">
						Name cannot be more than 32 characters long.
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<label for="last_name">Last Name</label>
				<input id="last_name" type="text" class="validate" name="lname" [(ngModel)]="user.lname" #lname="ngModel" required maxlength="32">
				<div *ngIf="lname.errors && (lname.dirty || lname.touched)"
					class="alert alert-danger">
					<div [hidden]="!lname.errors.required">
						This Field is Required!
					</div>
					<div [hidden]="!lname.errors.maxlength">
						Name cannot be more than 32 characters long.
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="input-field col s12">
				<label for="email">Email</label>
				<input id="email" type="text" class="validate" name="email" [(ngModel)]="user.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
				<div *ngIf="email.errors && (email.dirty || email.touched)"
					class="alert alert-danger">
					<div [hidden]="!email.errors.required">
						This Field is Required!
					</div>
					<div [hidden]="!email.errors.pattern">
						Email is Invalid!
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<label for="password">Password</label>
				<input id="password" type="password" class="validate" name="password" [(ngModel)]="user.password" #password="ngModel" required minlength="8">
				<div *ngIf="password.errors && (password.dirty || password.touched)"
					class="alert alert-danger">
					<div [hidden]="!password.errors.required">
						This Field is Required!
					</div>
					<div [hidden]="!password.errors.minlength">
						Password Must be more than 8 characters long!
					</div>
				</div>
			</div>
		</div>

		<div>
			<a class="waves-effect #ffd600 yellow accent-4 btn" routerLink="/login">Cancel</a>
			<button class="waves-effect #009688 teal btn" [disabled]="!registerForm.form.valid">Submit</button>
		</div>
	</form>
</div>