<div class="profile-page">
	<h3 class="main-title">Profile</h3>

	<!-- <div class="row"> -->
		<!-- <div class="col s12 m12"> -->
			<div class="card" *ngIf="displayContent==true;else updateContent">
				<div class="card-content">
					<span class="card-title">
						<strong>Profile Details</strong>
					</span>
					<div class="right">
						<a class="btn-floating waves-effect waves-light #80d8ff light-blue accent-1" (click)="switchEditMode()">
							<i class="material-icons">edit</i>
						</a>
					</div>
				</div>
				<div *ngIf="profile">
					<div class="card-action">
						<div class="row">
							<div class="col s6">
								<div class="col s12 m3">
									<strong>Name</strong>
								</div>
								<div class="col s12 m9">
									<span>{{profile.firstName}}</span>
									<span *ngIf="profile && profile.middleName">{{' '+profile.middleName}}</span>
									<span>{{' '+profile.lastName}}</span>
								</div>
							</div>
							<div class="col s6">
								<div class="col s12 m3">
									<strong>Email</strong>
								</div>
								<div class="col s12 m9">
									<span>{{profile.email}}</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s6">
								<div class="col s12 m3">
									<strong>Birthday</strong>
								</div>
								<div class="col s12 m9">
									<span>{{profile?.birthday?.formatted}}</span>
								</div>
							</div>
							<div class="col s6">
								<div class="col s12 m3">
									<strong>Gender</strong>
								</div>
								<div class="col s12 m9">
									<span>{{profile?.gender}}</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s6">
								<div class="col s12 m3">
									<strong>Address</strong>
								</div>
								<div class="col s12 m9">
									<span *ngIf="profile && profile.street">{{profile.street}}</span>
									<span *ngIf="profile && profile.city">{{' '+profile.city}}</span>
									<span *ngIf="profile && profile.country">{{' '+profile.country}}</span>
								</div>
							</div>
							<div class="col s6">
								<div class="col s12 m3">
									<strong>Mobile</strong>
								</div>
								<div class="col s12 m9">
									<span>{{profile.mobile}}</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s6">
								<div class="col s12 m3">
									<strong>Telephone</strong>
								</div>
								<div class="col s12 m9">
									<span>{{profile.telephone}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="card-action">
						<div class="row">
							<div class="col s6">
								<a (click)="showPasswordForm=true">Change Password</a>
							</div>
						</div>
					</div>
					
					<form #passwordForm="ngForm" novalidate *ngIf="showPasswordForm">
						<div class="card-action" *ngIf="showPasswordForm">
							<div class="row">
								<div class="col s4">
									<label for="userPassword" [ngClass]="{'active':(profilePassword.userPassword!=undefined)}">
										New Password
									</label>
									<input 
										id="userPassword" 
										type="password" 
										class="validate" 
										name="userPassword" 
										[ngModel]="profilePassword.userPassword" 
										#userPassword="ngModel" 
										validateEqual="confirmPassword" 
										reverse="true"
										required>
									<div *ngIf="userPassword?.errors?.required && submittedPasswordForm">
										This Field is Required!
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col s4">
									<label for="confirmPassword" [ngClass]="{'active':(profilePassword.confirmPassword!=undefined)}">
										Confirm Password
									</label>
									<input 
										id="confirmPassword" 
										type="password" 
										class="validate" 
										name="confirmPassword" 
										[ngModel]="profilePassword.confirmPassword" 
										#confirmPassword="ngModel"
										validateEqual="userPassword" 
										reverse="false"
										required>
		        	
									<div *ngIf="confirmPassword?.errors?.required && submittedPasswordForm">
										This Field is Required!
									</div>
									<div *ngIf="(confirmPassword?.errors?.validateEqual==false) && (confirmPassword.prestine || submittedPasswordForm)">
										Password Missmatch!
									</div>
								</div>
							</div>

							<div class="card-action">
								<div class="row">
									<a class="btn" (click)="submitPasswordInfo('opt-submit', passwordForm.form, profilePassword)">Submit</a>
									<a class="btn" (click)="submitPasswordInfo('opt-cancel', passwordForm.form, profilePassword)">Cancel</a>
								</div>
							</div>
						</div>
					</form>

					<div class="card-action">
						<div class="row">
							<div class="col s6">
								<div class="col s12 m3">
									<strong>Company Name</strong>
								</div>
								<div class="col s12 m9">
									<span>{{profile.organizationName}}</span>
								</div>
							</div>
							<div class="col s6">
								<div class="col s12 m3">
									<strong>Company Contact</strong>
								</div>
								<div class="col s12 m9">
									<span>{{profile.organizationContact}}</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s6">
								<div class="col s12 m3">
									<strong>Company Address</strong>
								</div>
								<div class="col s12 m9">
									<span *ngIf="profile && profile.organizationStreet">{{profile.organizationStreet}}</span>
									<span *ngIf="profile && profile.organizationCity">{{' '+profile.organizationCity}}</span>
									<span *ngIf="profile && profile.organizationCountry">{{' '+profile.organizationCountry}}</span>
								</div>
							</div>
							<div class="col s6">
								<div class="col s12 m3">
									<strong>Company Email</strong>
								</div>
								<div class="col s12 m9">
									<span>{{profile.organizationEmail}}</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s6">
								<div class="col s12 m3">
									<strong>Company Domain</strong>
								</div>
								<div class="col s12 m9" *ngIf="profile.domain && profile.domain.protocol && profile.domain.website">
									<span>{{profile.domain.protocol+profile.domain.website}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="card-action">
						<strong>Notifications Settings</strong>
					</div>
					<div class="card-action">
						<div class="row">
							<section class="example-section">
								<md-slide-toggle
									class="example-margin"
									(change) = toggleDailyNotification(profile.dailyTripNotification)
									[ngModel]="profile.dailyTripNotification"
									[color]="blue"
									[checked]="true">
									Notify Next Day's Trip Notification
								</md-slide-toggle>
							</section>
							<span>Notify Everyday about next day's trip through email</span>
						</div>
						<div class="row">
							<section class="example-section">
								<md-slide-toggle
									class="example-margin"
									(change) = toggleWeeklyNotification(profile.weeklyTripNotification)
									[ngModel]="profile.weeklyTripNotification"
									[color]="primary"
									[checked]="false">
									Notify this week's Trip Notification
								</md-slide-toggle>
							</section>
							<span>Notify Everyday Sunday about this week's trip through email</span>
						</div>
					</div>
					<div class="card-action">
						Google Caledar Settings
					</div>
					<div class="card-action">
						<div class="row">
							<div *ngFor="let authUrl of authUrls" class="col s12 m2">
								<button class="btn waves-effect waves-light #0d47a1 blue darken-4" *ngIf="authUrl.loginType==='google'" (click)="redirectOauthUrl(authUrl.url)" [disabled]="userInfo.googleAuths">
									Authorize Google
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m1" *ngIf="userInfo.googleAuths">
								<label for="pickupTime">
									<strong>
										{{'Calendar notfy before: '}}
									</strong>
								</label>
							</div>
							<div class="col s12 m6" *ngIf="userInfo.googleAuths">
								<div class="col s1" style="padding: 10px">
									<strong>hr:</strong>
								</div>
								<div class="col s4">
									<select class="browser-default" [(ngModel)]="userInfo.calendarNotification.hrTime" name="notificationTimeHr" #notificationTimeHr="ngModel" (ngModelChange)="updateUserProfile(userInfo, $event, 'hrTime')">
										<option [value]="hr" *ngFor="let hr of hrs">
											<span>{{hr}}</span>
										</option>
									</select>
								</div>
								<div class="col s1" style="padding: 10px">
									<strong>min:</strong>
								</div>
								<div class="col s4">
									<select class="browser-default" [(ngModel)]="userInfo.calendarNotification.minTime" name="notificationTimeMin" #notificationTimeMin="ngModel" (ngModelChange)="updateUserProfile(userInfo, $event, 'minTime')">
										<option [value]="min" *ngFor="let min of mins">
											<span>{{min}}</span>
										</option>
									</select>
								</div>
								
							</div>
						</div>
					</div>
					<div class="card-action">
						Form Embed
					</div>
					<div class="card-action">
						<div *ngIf="profile.domain && profile.domain.website;else nonDomain">
							<div>
								<p>Please Enter following code in your site to embed traveler form</p>
							</div>
							<div>
								{{'<'+'iframe src='+travelerIframeUrl+'>'+'<'+'/iframe'+'>'}}
							</div>
						</div>
						<ng-template #nonDomain>
							<div class="row">
								<div>
									Please Enter your URL Domain.
								</div>
								<form #domainForm="ngForm" novalidate>
									<div>
										<div class="row">
											<div class="col s3">
												<md-select [(ngModel)]="userInfo.domain.protocol" #selectedProtocol="ngModel" name="selectedProtocol" required placeholder="Website Domain">
													<md-option *ngFor="let protocol of protocols" [value]="protocol.value">
														{{protocol.value}}
													</md-option>
												</md-select>
												<div *ngIf="selectedProtocol?.errors?.required && submittedForm">
													This Field is Required!
												</div>
											</div>
											<div class="col s6">
												<input id="domain" type="text" class="validate" name="domainWebsite" [(ngModel)]="userInfo.domain.website" #domainWebsite="ngModel" required>
												<div *ngIf="domainWebsite?.errors?.required && submittedForm">
													This Field is Required!
												</div>
											</div>
										</div>
										<div class="row">
											<span>e.g.:"http://www.yoursite.com"</span>
										</div>
									</div>
									<div>
										<a class="btn" (click)="submitProfileInfo('opt-submit', domainForm.form)">Submit</a>
									</div>
								</form>
							</div>
						</ng-template>
					</div>
				</div>
			</div>
			<ng-template #updateContent>
				<form class="col s12" #profileDetail="ngForm" novalidate>
					<div class="card">
						<div class="card-content">
							<span class="card-title">
								<strong>Update Profile</strong>
							</span>
						</div>
						<div class="card-action">
							<div *ngIf="userInfo">
								<div class="row">
									<div class="col s4" [ngClass]="[(firstName.errors && (firstName.dirty || firstName.touched))?'err-div':'']">
										<label for="firstName">
											<strong>
												{{'First Name'}}
											</strong>
											<span class="required-label-mark">{{' *'}}</span>
										</label>

										<input id="firstName" type="text" class="validate" name="firstName" [(ngModel)]="userInfo.firstName" #firstName="ngModel" [value] = "userInfo.firstName" required>

										<div class="error-msg" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
											This Field is Required!
										</div>
									</div>

									<div class="col s4">
										<label for="middleName" [ngClass]="{'active':(userInfo.middleName!=undefined)}">Middle Name</label>
										<input id="middleName" type="text" class="validate" name="middleName" [(ngModel)]="userInfo.middleName" #middleName="ngModel" [value] = "userInfo.middleName">
									</div>
									
									<div class="col s4" [ngClass]="[(lastName.errors && (lastName.dirty || lastName.touched))?'err-div':'']">
										<label for="lastName">
											<strong>
												{{'Last Name'}}
											</strong>
											<span class="required-label-mark">{{' *'}}</span>
										</label>

										<input id="lastName" type="text" class="validate" name="lastName" [(ngModel)]="userInfo.lastName" #lastName="ngModel" [value] = "userInfo.lastName" required>

										<div class="error-msg" *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
											This Field is Required!
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col s4">
										<label for="mobile" [ngClass]="{'active':(userInfo.mobile!=undefined)}">Mobile</label>
										<input id="mobile" type="text" class="validate" name="mobile" [(ngModel)]="userInfo.mobile" #mobile="ngModel" [value] = "userInfo.mobile">
									</div>
									<div class="col s4">
										<label for="telephone" [ngClass]="{'active':(userInfo.telephone!=undefined)}">Telephone</label>
										<input id="telephone" type="text" class="validate" name="telephone" [(ngModel)]="userInfo.telephone" #telephone="ngModel" [value] = "userInfo.telephone">
									</div>
								</div>
								<div class="row">
									<div class="col s4">
										<label for="street" [ngClass]="{'active':(userInfo.street!=undefined)}">Street</label>
										<input id="street" type="text" class="validate" name="street" [(ngModel)]="userInfo.street" #street="ngModel" [value] = "userInfo.street">
									</div>
									<div class="col s4">
										<label for="city" [ngClass]="{'active':(userInfo.city!=undefined)}">City</label>
										<input id="city" type="text" class="validate" name="city" [(ngModel)]="userInfo.city" #city="ngModel" [value] = "userInfo.city">
									</div>
									<div class="col s4">
										<label for="country" [ngClass]="{'active':(userInfo.country!=undefined)}">Country</label>
										<input id="country" type="text" class="validate" name="country" [(ngModel)]="userInfo.country" #country="ngModel" [value] = "userInfo.country">
									</div>
								</div>
								<div class="row">
									<div class="col s4">
										<strong>Birthday</strong>
										<my-date-picker id="birthday" class="validate" name="birthday" [(ngModel)]="userInfo.birthday" #birthday="ngModel" [options]="myDatePickerOptions"></my-date-picker>
									</div>
									<div class="col s4">
										<label class="active" for="gender">
											<strong>
												{{'Gender'}}
											</strong>
										</label>
										<md-select [(ngModel)]="userInfo.gender" name="gender">
											<md-option *ngFor="let gender of genders" [value]="gender.value">
												{{gender.viewValue}}
											</md-option>
										</md-select>
									</div>

									<div class="col s4">
										<div class="row">
											<div class="col s4">
												<label class="active" for="domain">
													<strong>
														{{'Website Domain'}}
													</strong>
												</label>
												<md-select [(ngModel)]="userInfo.domain.protocol" name="selectedProtocol">
													<md-option *ngFor="let protocol of protocols" [value]="protocol.value">
														{{protocol.value}}
													</md-option>
												</md-select>
											</div>
											<div class="col s8" [ngClass]="[(domainWebsite.errors && (domainWebsite.dirty || domainWebsite.touched))?'err-div':'']">
												<input id="domainWebsite" type="text" class="validate" name="domainWebsite" [(ngModel)]="userInfo.domain.website" #domainWebsite="ngModel" [value] = "userInfo.domainWebsite" required>
												<!-- <div>
													<span>e.g.:"http://www.yoursite.com"</span>
												</div> -->
												<div class="error-msg" *ngIf="domainWebsite.errors && (domainWebsite.dirty || domainWebsite.touched)">
													This Field is Required!
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col s4" [ngClass]="[(organizationName.errors && (organizationName.dirty || organizationName.touched))?'err-div':'']">
										<label for="organizationName">
											<strong>
												{{'Company Name'}}
											</strong>
											<span class="required-label-mark">{{' *'}}</span>
										</label>

										<input id="organizationName" type="text" class="validate" name="organizationName" [(ngModel)]="userInfo.organizationName" #organizationName="ngModel" [value] = "userInfo.organizationName" required>

										<div class="error-msg" *ngIf="organizationName.errors && (organizationName.dirty || organizationName.touched)">
											This Field is Required!
										</div>
									</div>

									<div class="col s4">
										<label for="organizationContact" [ngClass]="{'active':(userInfo.organizationContact!=undefined)}">
											Company Contact
										</label>
										<input id="organizationContact" type="text" class="validate" name="organizationContact" [(ngModel)]="userInfo.organizationContact" #organizationContact="ngModel" [value] = "userInfo.organizationContact">
									</div>
									<div class="col s4">
										<label for="organizationEmail" [ngClass]="{'active':(userInfo.organizationEmail!=undefined)}">
											Company Email
										</label>
										<input id="organizationEmail" type="text" class="validate" name="organizationEmail" [(ngModel)]="userInfo.organizationEmail" #organizationEmail="ngModel" [value] = "userInfo.organizationEmail">
									</div>
								</div>
								<div class="row">
									<div class="col s4">
										<label for="organizationStreet" [ngClass]="{'active':(userInfo.organizationStreet!=undefined)}">
											Company Street
										</label>
										<input id="organizationStreet" type="text" class="validate" name="organizationStreet" [(ngModel)]="userInfo.organizationStreet" #organizationStreet="ngModel" [value] = "userInfo.organizationStreet">
									</div>
									<div class="col s4">
										<label for="organizationCity" [ngClass]="{'active':(userInfo.organizationCity!=undefined)}">
											Company City
										</label>
										<input id="organizationCity" type="text" class="validate" name="organizationCity" [(ngModel)]="userInfo.organizationCity" #organizationCity="ngModel" [value] = "userInfo.organizationCity">
									</div>
									<div class="col s4">
										<label for="organizationCountry" [ngClass]="{'active':(userInfo.organizationCountry!=undefined)}">
											Company Country
										</label>
										<input id="organizationCountry" type="text" class="validate" name="organizationCountry" [(ngModel)]="userInfo.organizationCountry" #organizationCountry="ngModel" [value] = "userInfo.organizationCountry">
									</div>
								</div>
							</div>
						</div>
						<div class="card-action">
							<a class="btn" (click)="submitProfileInfo('opt-submit', profileDetail.form)">Submit</a>
							<a class="btn" (click)="submitProfileInfo('opt-cancel', profileDetail.form)">Cancel</a>
						</div>
					</div>
				</form>
			</ng-template>
		<!-- </div> -->
	<!-- </div> -->
</div>
