<form class="col s12" (ngSubmit)="submitGuideDetails(guideDetail.form)" #guideDetail="ngForm" novalidate>
	<h4 md-dialog-title>{{ 'Add Guide' }}</h4>
	<div md-dialog-content>
		<div class="row">
			<div class="row">
				<div class="input-field col s6">
					<label for="firstName">First Name</label>
					<input id="firstName" type="text" class="validate" name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel" required>
					<div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)"
						class="alert alert-danger">
						<div [hidden]="!firstName.errors.required">
							This Field is Required!
						</div>
					</div>
				</div>
				<div class="input-field col s6">
					<label for="lastName">Last Name</label>
					<input id="lastName" type="text" class="validate" name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel" required>
					<div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)"
						class="alert alert-danger">
						<div [hidden]="!lastName.errors.required">
							This Field is Required!
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<label for="email">Email</label>
					<input id="email" type="text" class="validate" name="email" [(ngModel)]="user.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
					<div *ngIf="email.errors && (email.dirty || email.touched)"
						class="alert alert-danger">
						<div [hidden]="!email.errors.required">
							This Field is Required!
						</div>
						<div [hidden]="!email.errors.pattern">
							Email is Invalid!
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div md-dialog-actions>
		<a class="waves-effect #009688 teal btn" (click)="submitGuideDetails(guideDetail.form)">Submit</a>
		<a class="waves-effect #ffd600 yellow accent-4 btn" (click)="dialogRef.close('opt2')">Cancel</a>
	</div>
</form>