<div class="row trip-booking-analytics">
	<div class="col s12 m8">
		<h3 class="main-title">Trip Booking Analytics</h3>
	</div>
</div>
<div>
	<div class="row">
		<table class="table_trek">
			<thead>
				<tr>
					<th></th>
					<th>Trip Name</th>
					<th>Number of Bookings</th>
					<th>Number of travelers</th>
					<th>Average Price</th>
					<th>Total Sales Amount</th>
					<th>Average Age Group</th>
				</tr>
			</thead>
			<tbody *ngIf="analyticsData && analyticsData.length>0;else EmptyAnalyticsData;">
				<tr *ngFor="let bookingData of analyticsData; let idx=index;" (click)="redirectDetails(bookingData.tripInfos)">
					<td>{{ idx+1 }}</td>
					<td>{{ bookingData._id }}</td>
					<td>{{ bookingData.total_bookings }}</td>
					<td>{{ bookingData.totalTravelers }}</td>
					<td>{{ bookingData.avgPrice | currency:'USD':true }}</td>
					<td>{{ bookingData.totalSalesAmt | currency:'USD':true }}</td>
					<td>{{ bookingData.travelerAvgAge | number }}</td>
				</tr>
			</tbody>
			<ng-template #EmptyAnalyticsData>
				<tbody>
					<tr>
						<td>There is no data for this view</td>
					</tr>
				</tbody>
			</ng-template>
		</table>
	</div>
</div>
