<form class="col s12" (ngSubmit)="submitBookingDetails(bookingDetail.form)" #bookingDetail="ngForm" novalidate>
	<div md-dialog-content>

		<div class="row">
			<div class="col s6">
				<h5>
					{{title}}
				</h5>
			</div>
			<div class="col s6 right-align">
				<a (click)="dialogRef.close('opt-cancel')"><i class="material-icons clear-dialogBox">clear</i></a>
			</div>
		</div>

		<div class="row">
			<div class="col s6">
				<label for="group-name" [ngClass]="{'active':(booking.groupName!=undefined)}">
					<strong>
						{{'Group Name'}}
					</strong>
					<span class="required-label-mark">{{' *'}}</span>
				</label>
				<input id="group-name" type="text" class="validate" name="groupName" [(ngModel)]="booking.groupName" #groupName="ngModel" [value] = "booking.groupName" required>
				<div *ngIf="groupName?.errors?.required && submittedBookingForm">
					This Field is Required!
				</div>
			</div>
			<div class="col s6">
				<label for="Total Members" [ngClass]="{'active':(booking.travellerCount!=undefined)}">
					<strong>
						{{'Total Members'}}
					</strong>
					<span class="required-label-mark">{{' *'}}</span>
				</label>
				<input id="total-members" type="number" class="validate" name="travellerCount" [(ngModel)]="booking.travellerCount" #travellerCount="ngModel" required>
				<div *ngIf="travellerCount?.errors?.required && submittedBookingForm">
					This Field is Required!
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<label for="tripName">
					<strong>
						{{'Trip Nepal'}}
					</strong>
					<span class="required-label-mark">{{' *'}}</span>
				</label>

				<input mdInput name="tripName" [ngModel]="booking.tripName" [mdAutocomplete]="auto" [formControl]="tripInfosCtrl" required>

				<md-autocomplete #auto="mdAutocomplete">
					<md-option *ngFor="let tripInfo of filteredTripInfos | async" [value]="tripInfo.name" (onSelectionChange)="selectedTrip(tripInfo)">
						{{ tripInfo.name }}
					</md-option>
				</md-autocomplete>
				<div *ngIf="emptyTripName === true && submittedBookingForm">
					This Field is Required!
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col s6">
				<div>
					<label for="trip-cost" [ngClass]="{'active':(booking.tripCost!=undefined)}">
						<strong>
							{{'Trip Cost Per Person'}}
						</strong>
						<span class="required-label-mark">{{' *'}}</span>
					</label>
				</div>
				<div>
					<div class="col s1" style="padding-top: 11px">
						<span>$</span>
					</div>
					<div class="col s10">
						<input id="trip-cost" type="number" class="validate" name="tripCost" [(ngModel)]="booking.tripCost" #tripCost="ngModel" required>
					</div>
				</div>
				<div *ngIf="tripCost?.errors?.required && submittedBookingForm">
					This Field is Required!
				</div>
			</div>
			<div class="col s6">
				<div>
					<label for="advance-paid" [ngClass]="{'active':(booking.advancePaid!=undefined)}">
						<strong>
							{{'Advance Paid'}}
						</strong>
						<span class="required-label-mark">{{' *'}}</span>
					</label>
				</div>
				<div>
					<div class="col s1" style="padding-top: 11px">
						<span>$</span>
					</div>
					<div class="col s10">
						<input id="advance-paid" type="number" class="validate" name="advancePaid" [(ngModel)]="booking.advancePaid" #advancePaid="ngModel" required>
					</div>
				</div>
				<div *ngIf="advancePaid?.errors?.required && submittedBookingForm">
					This Field is Required!
				</div>
			</div>
		</div>
		
	</div>
	<div md-dialog-actions>
		<button md-button class="waves-effect #009688 teal btn full-width-btn" type="submit">Submit</button>
	</div>
</form>
