<div class="row">
    <div class="col s12 m6 l4">
    	<div class="card">
    		<div class="card-content">
				<form (ngSubmit)="loginUser(loginForm.form)" #loginForm="ngForm" novalidate>

					<div class="row">
						<div class="col s6">
							<h5>
								{{'Login'}}
							</h5>
						</div>
					</div>

					<div class="row">
						<div class="col s12">
							<label for="email" [ngClass]="{'active':(user.email!=undefined)}">
								<strong>{{'Email'}}</strong>
								<span class="required-label-mark">{{' *'}}</span>
							</label>
							<input id="email" type="text" class="validate" name="email" [(ngModel)]="user.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
							<div *ngIf="email?.errors?.required && submittedLoginForm">
								This Field is Required!
							</div>
							<div *ngIf="email?.errors?.pattern && submittedLoginForm">
								Email is Invalid!
							</div>
							<div *ngIf="errObj?.errType=='email'">
								{{errObj?.message}}
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col s12">
							<label for="password" [ngClass]="{'active':(user.password!=undefined)}">
								<strong>{{'Password'}}</strong>
								<span class="required-label-mark">{{' *'}}</span>
							</label>
							<input id="password" type="password" class="validate" name="password" [(ngModel)]="user.password" #password="ngModel" required>
							<div *ngIf="password?.errors?.required && submittedLoginForm">
								This Field is Required!
							</div>
							<div *ngIf="errObj?.errType=='password'">
								{{errObj?.message}}
							</div>
						</div>
					</div>

					<div class="row">
						<div>
							<a [routerLink]="['/forgot-password']">Forgot Password</a>
						</div>
					</div>

					<div class="center-align login-submit-btn">
						<button class="waves-effect waves-light btn #7cb342 light-blue darken-1">{{'Login'}}</button>
					</div>
				</form>
				<div>
					<div *ngFor="let authUrl of authUrls">
						<button *ngIf="authUrl.loginType==='google'" class="loginBtn loginBtn--google" (click)="redirectOauthUrl(authUrl.url)">
							Login with Google
						</button>
						<button *ngIf="authUrl.loginType==='facebook'" class="loginBtn loginBtn--facebook" (click)="redirectOauthUrl(authUrl.url)">
							Login with Facebook
						</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>