<div class="login-page">
	<div class="container">
		<div class="form-holder">
		    	<div class="card">
		    		<div class="card-content">

						<div class="row">
							<div class="col s12">
								<h5 class="center-align">
									{{'Login'}}
								</h5>
							</div>
						</div>

						<div class="row">
							<div *ngFor="let authUrl of authUrls" class="col s12">
								<button *ngIf="authUrl.loginType==='google'" class="waves-effect waves-light loginBtn loginBtn--google" (click)="redirectOauthUrl(authUrl.url)">
									Login with Google
								</button>
								<button *ngIf="authUrl.loginType==='facebook'" class="loginBtn loginBtn--facebook" (click)="redirectOauthUrl(authUrl.url)">
									Login with Facebook
								</button>
							</div>
						</div>

						<div class="row">
							<div class="col s12">
								<div class="center-align or">OR</div>
							</div>
						</div>

						<form (ngSubmit)="loginUser(loginForm.form)" #loginForm="ngForm" novalidate>
								
							<div class="row">
								<div class="col s12">
									<label for="email" [ngClass]="{'active':(user.email!=undefined)}">
										<i class="material-icons">account_circle</i>
									</label>
									<input type="email" placeholder="Email" id="email" class="validate" name="email" [(ngModel)]="user.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
									<div *ngIf="email?.errors?.required && submittedLoginForm">
										This Field is Required!
									</div>
									<div *ngIf="email?.errors?.pattern && submittedLoginForm">
										Email is Invalid!
									</div>
									<div *ngIf="errObj?.errType=='email'">
										{{errObj?.message}}
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col s12">
									<label for="password" [ngClass]="{'active':(user.password!=undefined)}">
										<i class="material-icons">lock</i>
									</label>
									<input placeholder="password" id="password" type="password" class="validate" name="password" [(ngModel)]="user.password" #password="ngModel" required>
									<div *ngIf="password?.errors?.required && submittedLoginForm">
										This Field is Required!
									</div>
									<div *ngIf="errObj?.errType=='password'">
										{{errObj?.message}}
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col s12">
									<button class="waves-effect waves-light btn btn-submit">{{'Login'}}</button>
								</div>
							</div>

							<div class="row">
								<div class="col s12">
									<a class="forgot-password" [routerLink]="['/forgot-password']">Forgot Password</a>
								</div>
							</div>

						</form>
						
					</div>

				</div>
			</div>
	</div>
</div>