<div>
	<a class="modal-trigger waves-effect waves-light btn" (click)="openAddGuideModal()">Add Guide Details</a>
</div>
<!-- <div>
	<table>
		<thead>
			<tr>
				<td>Name</td>
				<td>Departure Date</td>
				<td>Arrival Date</td>
				<td>Assigned Guide</td>
				<td>Status</td>
				<td>Actions</td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let trip of trips; let i = index;">
				<td>{{ trip.name }}</td>
				<td>{{ trip.departureDate.jsdate | date }}</td>
				<td>{{ trip.arrivalDate.jsdate | date }}</td>
				<td>{{ trip.guideId }}</td>
				<td>{{ trip.status }}</td>
				<td>
					<a (click)="openAddTripModal(trip)">Edit</a>
					<a (click)="deleteTrip(trip._id, i)">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div> -->