<div>
	<a class="modal-trigger waves-effect waves-light btn" (click)="openAddGuideModal()">Add Guide Details</a>
</div>
<div>
	<table>
		<thead>
			<tr>
				<td>Name</td>
				<td>Email</td>
				<td>Actions</td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let guideUser of guideUsers; let i = index;">
				<td>{{ guideUser.firstName+' '+ guideUser.lastName}}</td>
				<td>{{ guideUser.email }}</td>
				<td>
					<a (click)="removeGuide(guideUser.email, i)">Remove</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>