<form class="col s12" (ngSubmit)="submitTripDates(tripDateForm.form)" #tripDateForm="ngForm" novalidate>
	<div md-dialog-content>
		
		<div class="row">
			<div class="col s11">
				<h5>
					{{title}}
				</h5>
			</div>
			<div class="col s1 right-align">
				<a (click)="dialogRef.close('opt-cancel')"><i class="material-icons clear-dialogBox">clear</i></a>
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<p>You will get reminder for each of the date. You can change how you would like to be reminder from <a (click)="navigateToProfile()">here.</a></p>		
			</div>
		</div>

		<div class="row">
			<div class="col s6" [ngClass]="[(departureDate?.errors?.required && submittedTripDateForm)?'err-div':'']">
				<label for="departureDate">
					<strong>
						{{'Departure Date'}}
					</strong>
					<span class="required-label-mark">{{' *'}}</span>
				</label>
				<my-date-picker id="departureDate" class="validate" name="departureDate" [(ngModel)]="trip.departureDate" #departureDate="ngModel" required [options]="myDatePickerOptions">
				</my-date-picker>
				<div class="error-msg" *ngIf="departureDate?.errors?.required && submittedTripDateForm">
					This Field is Required!
				</div>
			</div>
			<div class="col s6">
				<div>
					<label for="departureTime" class="active">
						<strong>
							{{'Departure Time'}}
						</strong>
					</label>
				</div>
				<div class="col s4">
					<select class="browser-default" [(ngModel)]="trip.departureTime.hrTime" name="departureHrTime" #departureHrTime="ngModel">
						<option [value]="hr" *ngFor="let hr of hrs">
							<span>{{hr}}</span>
						</option>
					</select>
				</div>
				<div class="col s1" style="padding: 10px">
					<strong>:</strong>
				</div>
				<div class="col s4">
					<select class="browser-default" [(ngModel)]="trip.departureTime.minTime" name="departureMinTime" #departureMinTime="ngModel">
						<option [value]="min" *ngFor="let min of mins">
							<span>{{min}}</span>
						</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col s6" [ngClass]="[(arrivalDate?.errors?.required && submittedTripDateForm)?'err-div':'']">
				<label for="arrivalDate">
					<strong>
						{{'Arrival Date'}}
					</strong>
					<span class="required-label-mark">{{' *'}}</span>
				</label>
				<my-date-picker id="arrivalDate" class="validate" name="arrivalDate" [(ngModel)]="trip.arrivalDate" #arrivalDate="ngModel" required [options]="myDatePickerOptions"></my-date-picker>
				<div class="error-msg" *ngIf="arrivalDate?.errors?.required && submittedTripDateForm">
					This Field is Required!
				</div>
			</div>
			<div class="col s6">
				<div>
					<label for="arrivalTime" class="active">
						<strong>
							{{'Arrival Time'}}
						</strong>
					</label>
				</div>
				<div class="col s4">
					<select class="browser-default" [(ngModel)]="trip.arrivalTime.hrTime" name="arrivalHrTime" #arrivalHrTime="ngModel">
						<option [value]="hr" *ngFor="let hr of hrs">
							<span>{{hr}}</span>
						</option>
					</select>
				</div>
				<div class="col s1" style="padding: 10px">
					<strong>:</strong>
				</div>
				<div class="col s4">
					<select class="browser-default" [(ngModel)]="trip.arrivalTime.minTime" name="arrivalMinTime" #arrivalMinTime="ngModel">
						<option [value]="min" *ngFor="let min of mins">
							<span>{{min}}</span>
						</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div md-dialog-actions>
		<button [disabled]="disableSubmitButton==true" class="waves-effect waves-light btn">Submit</button>
	</div>
</form>
