<div>
	<div>
		<form class="col s12" (ngSubmit)="loginUser(loginForm.form)" #loginForm="ngForm" novalidate>
		
		<div class="row">
			<div class="input-field col s12">
				<label for="email">Email</label>
				<input id="email" type="text" class="validate" name="email" [(ngModel)]="user.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
				<div *ngIf="email.errors && (email.dirty || email.touched)"
					class="alert alert-danger">
					<div [hidden]="!email.errors.required">
						This Field is Required!
					</div>
					<div [hidden]="!email.errors.pattern">
						Email is Invalid!
					</div>
				</div>
				<div *ngIf="errObj?.errType=='email'">
					{{errObj?.message}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<label for="password">Password</label>
				<input id="password" type="password" class="validate" name="password" [(ngModel)]="user.password" #password="ngModel" required>
				<div *ngIf="password.errors && (password.dirty || password.touched)"
					class="alert alert-danger">
					<div [hidden]="!password.errors.required">
						This Field is Required!
					</div>
				</div>
				<div *ngIf="errObj?.errType=='password'">
					{{errObj?.message}}
				</div>
			</div>
		</div>

		<div>
			<button class="waves-effect #009688 teal btn" [disabled]="!loginForm.form.valid">Submit</button>
		</div>
	</form>
	</div>
	<div>
		<a routerLink="/register">Register</a>
		<a>Forgot Password</a>
	</div>
</div>
