<div *ngIf="loggedIn && users && users.length>0">
	<div class="row">
		<div class="col s6 m8">
			<select class="browser-default" [(ngModel)]="selectedBillingUser" name="selectedBillingUser">
				<option [value]="user._id" *ngFor="let user of users;let i=index;">
					<span *ngIf="user && user.email">
						{{user.email}}
					</span>
				</option>
			</select>
		</div>
	</div>
</div>
<div class="billing-duration" *ngIf="packageDetails && packageDetails.length>0">
Annual Billing
<md-slide-toggle
  class="example-margin"
  [(ngModel)]="selectedDuration"
  (change)=upgradeCostDuration()>
</md-slide-toggle>
Monthly Billing
</div>
<div class="row">
	<div class="col s12 m3" *ngFor="let packageDetail of packageDetails">
		<div class="card">
			<div class="card-content">
				<div class="center-align">
					<span class="card-title">{{packageDetail.packages.name}}</span>
					<p>{{packageDetail.packages.description}}</p>
					<span class="card-title">
						{{packageDetail.packages.cost|currency:'USD':true}}
					</span>
					<p *ngIf="packageDetail.packages.cost===0;else limitedPeriod">
						{{'Unlimited Period'}}
					</p>
					<ng-template #limitedPeriod>
						<p>
							{{'for '+packageDetail.packages.days+' days'}}
						</p>
					</ng-template>
					<div>
						<a *ngIf="loggedIn; else publicBilling;" (click)="selectPackage(packageDetail)" class="waves-effect #64dd17 light-green accent-4 btn full-width-btn" [attr.disabled]="(disableBillingBtn==true || (_cookieService.get('remainingDays')-0)>2)?true:null">pay bill</a>
						<ng-template #publicBilling>
							<a class="waves-effect waves-light btn #7cb342 light-blue darken-1 full-width-btn" (click)="openRegisterModal(packageDetail.packages)">
								{{ (packageDetail.packages.cost==0) ? 'Start Now' : 'Start '+ packageDetail.packages.trialPeriod + ' days Trial' }}
							</a>
						</ng-template>
					</div>
				</div>
				<div>
					<ul>
						<li *ngFor="let feature of packageDetail.features">
							{{ feature.name }}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>