<div class="row">
	<div class="col s12 m12">
		<div id="column_chart" [chartData]="column_ChartData" [chartOptions] = "column_ChartOptions" chartType="ColumnChart" GoogleChart></div>
	</div>
</div>
<div class="row">
	<div class="col s12 m12">
		<div id="pie_chart" [chartData]="pie_ChartData" [chartOptions] = "pie_ChartOptions" chartType="PieChart" GoogleChart></div>
	</div>
</div>
<div class="row">
	<div class="col s12 m12">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Country Name</th>
					<th>Total Travelers</th>
					<th>Total Sales</th>
				</tr>
			</thead>
			<tbody *ngIf="audienceCountryGroups && audienceCountryGroups.length>0;else EmptyAnalyticsData;">
				<tr *ngFor="let country of audienceCountryGroups; let idx=index">
					<td>{{ idx+1 }}</td>
					<td>{{ country._id }}</td>
					<td>{{ country.travelerCounts }}</td>
					<td>{{ country.totalSalesAmt }}</td>
				</tr>
			</tbody>
			<ng-template #EmptyAnalyticsData>
				<tbody>
					<tr>
						<td>There is no data for this view</td>
					</tr>
				</tbody>
			</ng-template>
		</table>
	</div>
</div>