<div class="row">
	<div class="col s12 m12">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Age Group</th>
					<th>Total Travelers</th>
					<th>Total Sales</th>
				</tr>
			</thead>
			<tbody *ngIf="ageAnalyticsData && ageAnalyticsData.length>0;else EmptyAnalyticsData;">
				<tr *ngFor="let ageAnalytics of ageAnalyticsData; let idx=index" (click)="navigateToAgeDetails(ageAnalytics._id)">
					<td>{{ idx+1 }}</td>
					<td>{{ ageAnalytics._id }}</td>
					<td>{{ ageAnalytics.root.length }}</td>
					<td>{{ ageAnalytics.totalSales }}</td>
				</tr>
			</tbody>
			<ng-template #EmptyAnalyticsData>
				<tbody>
					<tr>
						<td>There is no data for this view</td>
					</tr>
				</tbody>
			</ng-template>
		</table>
	</div>
</div>