<div class="row">
    <div class="col s12 m4">
    	<div class="card">
    		<div class="card-content">
				<form (ngSubmit)="submitEmail(emailForm.form)" #emailForm="ngForm" novalidate>
						<div class="row">
							<div class="col s6">
								<h5>
									{{'Forgot Password'}}
								</h5>
							</div>
						</div>

						<div class="row">
							<div class="col s12">
								<span>Enter your Email Address below and we'll send the recovery link.</span>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<label for="userEmail" [ngClass]="{'active':(userEmail!=undefined)}">
									<strong>{{'Email'}}</strong>
									<span class="required-label-mark">{{' *'}}</span>
								</label>
								<input id="userEmail" type="text" class="validate" name="userEmail" [(ngModel)]="userEmail" #forgotEmail="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
								<div *ngIf="forgotEmail?.errors?.required && submittedEmailForm">
									This Field is Required!
								</div>
								<div *ngIf="forgotEmail?.errors?.pattern && submittedEmailForm">
									Email is Invalid!
								</div>
								<div *ngIf="wrongEmail==true">
									This email does not exist.
								</div>
								<div *ngIf="notActivated==true">
									This email is not activated yet. 
									<!-- <a>Get Link</a> -->
								</div>
							</div>
						</div>
						<div class="center-align submit-btn">
							<button [disabled]="disableSubmitBtn" class="waves-effect waves-light btn #7cb342 light-blue darken-1">{{'Send Email'}}</button>
						</div>
						<div>
							<a [routerLink]="['/login']">Back to login</a>
						</div>
				</form>
			</div>
		</div>
	</div>
</div>