<div class="forgot-password-page">
	<div class="container">
		<div class="form-holder">
	    	<div class="card">
	    		<div class="card-content">
					<form (ngSubmit)="submitEmail(emailForm.form)" #emailForm="ngForm" novalidate>
							<div class="row">
								<div class="col s12">
									<h5 class="center-align">
										{{'Forgot Password'}}
									</h5>
								</div>
							</div>

							<div class="row">
								<div class="col s12">
									<span>Enter your Email Address below and we'll send the recovery link.</span>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<label for="userEmail" [ngClass]="{'active':(userEmail!=undefined)}">
										<i class="material-icons">account_circle</i>
									</label>
									<input id="userEmail" type="email" class="validate" name="userEmail" [(ngModel)]="userEmail" #forgotEmail="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Email">
									<div *ngIf="forgotEmail?.errors?.required && submittedEmailForm">
										This Field is Required!
									</div>
									<div *ngIf="forgotEmail?.errors?.pattern && submittedEmailForm">
										Email is Invalid!
									</div>
									<div *ngIf="wrongEmail==true">
										This email does not exist.
									</div>
									<div *ngIf="notActivated==true">
										This email is not activated yet. 
										<!-- <a>Get Link</a> -->
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<button [disabled]="disableSubmitBtn" class="waves-effect waves-light btn btn-submit">{{'Send Email'}}</button>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<a class="back-to-login" [routerLink]="['/login']">Back to login</a>
								</div>
							</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>