<div class="feature-list-page">
	<h3 class="main-title">Feature Lists</h3>
	<table class="feature-list-table responsive-table highlight" *ngIf="features && features.length>0; else emptyfeatures">
		<thead>
			<tr>
				<td>Name</td>
				<td>Description</td>
				<td>Status</td>
				<td>Actions</td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let feature of features; let i = index;">
				<td>
					{{feature.name}}
				</td>
				<td>
					{{feature.description}}
				</td>
				<td>
					<span [ngClass]="(feature.status==true)?'active':'inactive'" (click)="toggleStatus(i)">
						<i [ngClass]="(feature.status==true)?'fa fa-check':'fa fa-times'" class="fa fa-check"></i>
					</span>
				</td>
				<td>
					<a class="edit" (click)="openFeatureModal(feature, 'edit')">
						<i class="material-icons">edit</i>
					</a>
					<a class="delete" (click)="deleteFeatures(feature._id, i)">
						<i class="material-icons">delete</i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	<ng-template #emptyfeatures>
		<h5 class="center-align">Feature Record is empty! Please add features!</h5>
	</ng-template>
	<div class="add-round-button-icon">
		<a class="btn-floating btn-large waves-effect waves-light red" (click)="openFeatureModal()">
			<i class="material-icons">add</i>
		</a>
	</div>
</div>