<ul id="navDropdown" class="dropdown-content">
		<li><a>Profile</a></li>
		<li routerLink="/app/package-billings"><a>Package Billings</a></li>
		<li routerLink="/app/billing-history" *ngIf="cookieData.idx==20"><a>Billings History</a></li>
		<li class="divider"></li>
		<li (click)="logout()"><a>Logout</a></li>
</ul>
<nav class="#7cb342 light-green darken-1">
	<div class="nav-wrapper">
		<a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul>
			<li>
				<a class="brand-logo" routerLink="/app">Trek Engine</a>
			</li>
		</ul>

		<ul class="right hide-on-med-and-down">
			<li *ngIf="cookieData.idx==10">
				<a routerLink="/app/app-users">Users</a>
			</li>
			<li *ngIf="cookieData.idx==10">
				<a routerLink="/app/app-features">Features</a>
			</li>
			<li *ngIf="cookieData.idx==10">
				<a routerLink="/app/app-packages">Packages</a>
			</li>
			<li>
				<a routerLink="/app/movements">Movements</a>
			</li>
			<li>
				<a>Accounts</a>
			</li>
			<li>
				<a>Analytics</a>
			</li>
			<li (click)="dropDownNav()">
				<a class="dropdown-button" data-activates="navDropdown">
					Settings
					<i class="material-icons right">arrow_drop_down</i>
				</a>
			</li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li *ngIf="cookieData.idx==10">
				<a routerLink="/app/app-features">Features</a>
			</li>
			<li *ngIf="cookieData.idx==10">
				<a routerLink="/app/app-packages">Packages</a>
			</li>
			<li class="divider" *ngIf="cookieData.idx==10"></li>
			<li>
				<a routerLink="/app/movements">Movements</a>
			</li>
			<li>
				<a>Accounts</a>
			</li>
			<li>
				<a>Analytics</a>
			</li>
			<li class="divider"></li>
			<li> Settings </li>
			<li>
				<a>Profile</a>
			</li>
			<li>
				<a routerLink="/app/package-billings">Package Billings</a>
			</li>
			<li routerLink="/app/billing-history" *ngIf="cookieData.idx==20">
				<a>Billings History</a>
			</li>
			<li class="divider"></li>
			<li (click)="logout()"><a>Logout</a></li>
		</ul>
	</div>
</nav>
<router-outlet></router-outlet>