<ul id="navDropdown" class="dropdown-content">
		<li [routerLink]="['profile']"><a>Profile</a></li>
		<li routerLink="/app/package-billings" *ngIf="cookieData.idx<=20"><a>Package Billings</a></li>
		<li routerLink="/app/billing-history" *ngIf="cookieData.idx==20"><a>Billings History</a></li>
		<li class="divider"></li>
		<li (click)="logout()"><a>Logout</a></li>
</ul>

<ul id="notificationDropdown" class="dropdown-content collection">
	<li *ngFor="let notification of authService.notifications" class="collection-item" (click)="updateViewedNotification(notification)">
		<a>
			{{notification.subject}}
		</a>
	</li>
</ul>

<nav class="#7cb342 light-green darken-1">
	<div class="nav-wrapper">
		<a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul>
			<li>
				<a class="brand-logo" routerLink="/app">Trek Engine</a>
			</li>
		</ul>

		<ul class="right hide-on-med-and-down">
			<li (click)="getUnreadNotifications()">
				<a class="dropdown-button" data-activates="notificationDropdown">
					Notifications 
					<span *ngIf="authService.notifications && authService.notifications.length>0" class="new badge red">
						{{ authService.notifications.length}}
					</span>
				</a>
			</li>
			<li *ngIf="cookieData.idx==10">
				<a routerLink="/app/app-users">Users</a>
			</li>
			<li *ngIf="cookieData.idx==10">
				<a routerLink="/app/app-features">Features</a>
			</li>
			<li *ngIf="cookieData.idx==10">
				<a routerLink="/app/app-packages">Packages</a>
			</li>
			<li *ngIf="cookieData.idx==20">
				<a routerLink="/app/bookings">Bookings</a>
			</li>
			<li *ngIf="cookieData.idx>=20">
				<a routerLink="/app/movements">Movements</a>
			</li>
			<li *ngIf="cookieData.idx==20">
				<a>Accounts</a>
			</li>
			<li *ngIf="cookieData.idx==20">
				<a routerLink="/app/analytics">Analytics</a>
			</li>
			<li (click)="dropDownNav()">
				<a class="dropdown-button" data-activates="navDropdown">
					Settings
					<i class="material-icons right">arrow_drop_down</i>
				</a>
			</li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li [routerLink]="['notifications']">
				<a>
					Notifications
					<span *ngIf="authService.notifications && authService.notifications.length>0" class="new badge red">
						{{ authService.notifications.length}}
					</span>
				</a>
			</li>
			<li *ngIf="cookieData.idx==10">
				<a routerLink="/app/app-features">Features</a>
			</li>
			<li *ngIf="cookieData.idx==10">
				<a routerLink="/app/app-packages">Packages</a>
			</li>
			<li class="divider" *ngIf="cookieData.idx==10"></li>
			<li *ngIf="cookieData.idx>=20">
				<a routerLink="/app/movements">Movements</a>
			</li>
			<li *ngIf="cookieData.idx==20">
				<a>Accounts</a>
			</li>
			<li *ngIf="cookieData.idx==20">
				<a>Analytics</a>
			</li>
			<li *ngIf="cookieData.idx==20" class="divider"></li>
			<li> Settings </li>
			<li>
				<a>Profile</a>
			</li>
			<li>
				<a routerLink="/app/package-billings">Package Billings</a>
			</li>
			<li routerLink="/app/billing-history" *ngIf="cookieData.idx==20">
				<a>Billings History</a>
			</li>
			<li class="divider"></li>
			<li (click)="logout()"><a>Logout</a></li>
		</ul>
	</div>
</nav>
<div *ngIf="!authService.validatedUser && cookieData.idx=='20'">
	Your account Package has been expired. Please Upgrade the <a routerLink="/app/package-billings">Billing Plan</a>.
</div>
<router-outlet></router-outlet>